## Table des matières

- [Question 1](#question1)
    - [Anomalie](#anomalie)
    - [Dataframe](#dataframe)
    - [Population mondiale en 2013](#popmondiale2013)
- [Question 2](#question2)
- [Question3](#question3)
    - [Tableau pour chaque pays et chaque produit de la disponibilité alimentaire en kcal et en kg par protéines](#reponse3)
- [Question 4](#question4)
    - [Ratio énergie/poids et pourcentage de protéines par produits et par pays](#reponse4)
- [Question 5](#question5)
    - [Table de la moyenne du ratio énergie/poids de chaque produit sur tous les pays](#reponse5_1)
    - [Recherche des 20 aliments les plus caloriques selon les ratios moyens](#reponse5_2)
    - [Liste de 5 aliments parmi les 20 les plus caloriques](#reponse5_3)
    - [Table de la moyenne du pourcentage de protéines des produits sur tous les pays](#reponse5_4)
    - [Recherche des 20 aliments les plus riches selon les pourcentages moyens](#reponse5_5)
    - [Liste de 5 aliments parmi les 20 les plus riches](#reponse5_6)    
- [Question 6](#question6)
    - [Calcul de la disponibilité intérieure mondiale en kcal pour les végétaux](#reponse6)
- [Question 7](#question7)
- [Question 8](#question8)
    - [Calcul du nombres d'humains nourris en termes de calories et pourcentage de la population mondiale](#reponse8_1)
    - [Calcul du nombres d'humains nourris en termes de protéines et pourcentage de la population mondiale](#reponse8_2)
- [Question 9](#question9)
    - [Calcul du nombres d'humains nourris en termes de calories et pourcentage de la population mondiale](#reponse9_1)
    - [Calcul du nombres d'humains nourris en termes de protéines et pourcentage de la population mondiale](#reponse9_2)
- [Question 10](#question10)
    - [Proportion de la population mondiale sous-alimentée en 2013](#reponse10)
- [Question 11](#question11)
- [Question 12](#question12)
    - [Informations relatives aux pays dans lesquels la FAO recence des personnes en sous-nutrition](#réponse12_1)
    - [Les 15 produits les plus exportés par les pays recensant des personnes en sous-nutrition](#réponse12_2)
    - [Sélection parmi les données des bilans alimentaires au niveau mondial, des 200 plus grandes importations de ces 15 produits](#réponse12_3)
    - [Groupement des 200 importations par produit](#réponse12_4)
    - [Tableau pour chaque produit des ratios](#réponse12_5)
    - [Liste des trois produits ayant le plus grand de chacun des ratio](#réponse12_6)
- [Question13](#question13)
- [Question14](#question14)

In [1]:
import numpy as np
import pandas as pd

In [2]:
animaux = pd.read_csv("fr_animaux.csv")

In [3]:
cereales = pd.read_csv("fr_céréales.csv")

In [4]:
population = pd.read_csv("fr_population.csv")

In [5]:
sousalimentation = pd.read_csv("fr_sousalimentation.csv")

In [6]:
vegetaux = pd.read_csv("fr_vegetaux.csv")

<a id="question1"></a>
## Question 1 : créer un DataFrame affichant la population par pays puis calculer la population mondiale en 2013.

In [7]:
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [8]:
# Affichage du nom des colonnes

population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [9]:
# Calcul de la population mondiale

print("En 2013, la population mondiale est de" , population.Valeur.sum()*1000, "personnes.")

En 2013, la population mondiale est de 8413993000 personnes.

#### La population mondiale en 2013 est de 7,083 milliards de personnes.
Source : http://economiedurable.over-blog.com/article-la-population-mondiale-au-1er-janvier-2013-99484009.html

Il y a une différence de plus d'un milliard de personnes.
#### Il y a donc des corrections à apporter.

In [10]:
# Suppression d'éventuels doublons

population.drop_duplicates(subset = ['Description du Symbole'])

# Aucune colonne ne comporte de doublons.
# Il y a par contre deux valeurs possibles pour la colonne "Description du Symbole"

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [11]:
# Affichage intégral de la donnée "Agrégat, peut inclure des données officielles,..."

population["Description du Symbole"].unique()

# Les données pour la Chine sont un agrégat incluant des données non officielles

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [12]:
# Affichage des 5 pays les plus peuplés par ordre croissant

population.sort_values(by="Valeur").tail()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
76,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,101,Indonésie,511,Population totale,2501,Population,2013,2013,1000 personnes,249866,NaN,Donnée officielle
55,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,231,États-Unis d'Amérique,511,Population totale,2501,Population,2013,2013,1000 personnes,320051,NaN,Donnée officielle
75,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,100,Inde,511,Population totale,2501,Population,2013,2013,1000 personnes,1252140,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

<a id="anomalie"></a>
#### La Chine apparaît deux fois.
Il y a une ligne (ligne 36) avec la donnée officielle et une autre avec l'agrégat (ligne 33).
En 2013, la population chinoise s'élève à 1 357 380 000 personnes, ce qui concorde avec la ligne 36.
Source : http://perspective.usherbrooke.ca/bilan/tend/CHN/fr/SP.POP.TOTL.html

#### Il faut donc supprimer la ligne 33.

In [13]:
# Suppression de la ligne 33 en ne conservant que les éléments "Donnée officielle" 
# de la colonne "Description du Symbole"

population[population["Description du Symbole"]=="Donnée officielle"]

# Projection pour ne conserver que les colonnes "Zone" et "Valeur"

Population_totale = population[population["Description du Symbole"]=="Donnée officielle"]

Proj_pop = Population_totale.loc[ : , ('Zone','Valeur')]

# Renommage des colonnes Zone" et "Valeur"

Proj_pop.rename(columns={"Valeur":"Population en milliers d'habitants"})

Pop = Proj_pop.rename(columns={"Valeur":"Population en milliers d'habitants"})

<a id="dataframe"></a>
#### DataFrame affichant la population par pays en 2013

In [14]:
Pop

,Zone,Population en milliers d'habitants
0,Afghanistan,30552
1,Afrique du Sud,52776
2,Albanie,3173
3,Algérie,39208
4,Allemagne,82727
...,...,...
170,Venezuela (République bolivarienne du),30405
171,Viet Nam,91680
172,Yémen,24407
173,Zambie,14539
174,Zimbabwe,14150

<a id="popmondiale2013"></a>
### Calcul de la population mondiale en 2013

In [15]:
print("En 2013, la population mondiale est de" , Pop["Population en milliers d'habitants"].sum()*1000, "personnes.")

En 2013, la population mondiale est de 6997326000 personnes.

### Avant d'aller plus loin
Si la Chine est apparue deux fois dans la table population, alors cela peut être le cas dans les autres tables founrnies.
Il faut donc vérifier si la Chine apparaît sous le nom de zone "Chine" et "Chine, continentale" et, si c'est le cas, supprimer l'élément "Chine".

### Vérification tableau "animaux"

In [16]:
animaux.loc[animaux["Zone"]=="Chine, continentale"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
7708,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6730.00,S,Données standardisées
7709,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,394.00,S,Données standardisées
7710,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5911,Exportations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,35.00,S,Données standardisées
7711,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,7089.00,S,Données standardisées
7712,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,7089.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7934,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,S,Données standardisées
7935,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.44,Fc,Donnée calculée
7936,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
7937,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.70,Fc,Donnée calculée
7938,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

In [17]:
animaux.loc[animaux["Zone"]=="Chine"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
6985,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6745.00,A,"Agrégat, peut inclure des données officielles,..."
6986,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,765.00,A,"Agrégat, peut inclure des données officielles,..."
6987,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5072,Variation de stock,2731,Viande de Bovins,2013,2013,Milliers de tonnes,0.00,A,"Agrégat, peut inclure des données officielles,..."
6988,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5911,Exportations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,98.00,A,"Agrégat, peut inclure des données officielles,..."
6989,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,7412.00,A,"Agrégat, peut inclure des données officielles,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7238,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
7239,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
7240,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
7241,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
7242,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

#### Présence des deux éléments "Chine" et "Chine continentale".

### Suppression de l'élément "Chine"

In [18]:
masqueAnim = animaux["Zone"]=="Chine"
animaux = animaux[~masqueAnim]

### Vérification tableau "vegetaux"

In [19]:
vegetaux.loc[vegetaux["Zone"]=="Chine, continentale"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
22029,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2511,Blé,2013,2013,Milliers de tonnes,121926.00,S,Données standardisées
22030,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,5666.00,S,Données standardisées
22031,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-1783.00,S,Données standardisées
22032,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,563.00,S,Données standardisées
22033,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,125247.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22781,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée
22782,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.01,Fc,Donnée calculée
22783,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,0.00,Fc,Donnée calculée
22784,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
22785,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée

In [20]:
vegetaux.loc[vegetaux["Zone"]=="Chine"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
19971,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,121931.00,A,"Agrégat, peut inclure des données officielles,..."
19972,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,7572.00,A,"Agrégat, peut inclure des données officielles,..."
19973,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-1834.00,A,"Agrégat, peut inclure des données officielles,..."
19974,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,713.00,A,"Agrégat, peut inclure des données officielles,..."
19975,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,126956.00,A,"Agrégat, peut inclure des données officielles,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20826,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée
20827,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.01,Fc,Donnée calculée
20828,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,0.00,Fc,Donnée calculée
20829,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.01,Fc,Donnée calculée
20830,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée

#### Présence des deux éléments "Chine" et "Chine continentale".

### Suppression de l'élément "Chine"

In [21]:
masqueVege = vegetaux["Zone"]=="Chine"
vegetaux = vegetaux[~masqueVege]

### Vérification tableau "cereales"

In [22]:
cereales.loc[cereales["Zone"]=="Chine, continentale"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
178,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2511,Blé,2013,2013,Milliers de tonnes,121926,S,Données standardisées
179,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,135809,S,Données standardisées
180,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2513,Orge,2013,2013,Milliers de tonnes,1699,S,Données standardisées
181,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,218489,S,Données standardisées
182,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2515,Seigle,2013,2013,Milliers de tonnes,650,S,Données standardisées
183,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2516,Avoine,2013,2013,Milliers de tonnes,614,S,Données standardisées
184,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2517,Millet,2013,2013,Milliers de tonnes,1746,S,Données standardisées
185,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2518,Sorgho,2013,2013,Milliers de tonnes,2892,S,Données standardisées
186,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",5511,Production,2520,"Céréales, Autres",2013,2013,Milliers de tonnes,1248,S,Données standardisées

In [23]:
vegetaux.loc[vegetaux["Zone"]=="Chine"]

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole]
Index: []

#### Seule la Chine continentale apparaît dans le tableau "cereales". Aucune modification à apporter.

### Vérification tableau "sousalimentation"

In [24]:
sousalimentation.loc[sousalimentation["Zone"]=="Chine, continentale"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
200,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,136.6,F,Estimation FAO,NaN
201,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,129,F,Estimation FAO,NaN
202,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,124,F,Estimation FAO,NaN
203,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,122.1,F,Estimation FAO,NaN
204,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,121.4,F,Estimation FAO,NaN

In [25]:
sousalimentation.loc[sousalimentation["Zone"]=="Chine"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
185,FS,Données de la sécurité alimentaire,351,Chine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,137.7,F,Estimation FAO,NaN
186,FS,Données de la sécurité alimentaire,351,Chine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,130,F,Estimation FAO,NaN
187,FS,Données de la sécurité alimentaire,351,Chine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,125,F,Estimation FAO,NaN
188,FS,Données de la sécurité alimentaire,351,Chine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,123.1,F,Estimation FAO,NaN
189,FS,Données de la sécurité alimentaire,351,Chine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,122.4,F,Estimation FAO,NaN

#### Présence des deux éléments "Chine" et "Chine continentale".

### Suppression de l'élément "Chine"

In [26]:
masqueSousAlim = sousalimentation["Zone"]=="Chine"
sousalimentation = sousalimentation[~masqueSousAlim]

### L'élément "Chine" de la colonne "Zone" n'apparaît plus dans aucun tableau.
### Seul l'élément "Chine, continentale" apparaît.

<a id="question2"></a>
## Question 2 : Identifier les redondances parmi les 11 informations (voir énoncé) et donner une réponse sous la forme d'une équation à trois termes faisant intervenir ces 11 quantités.

#### 	disponibilité intérieure =
- disponibilité alimentaire (en milliers de tonnes) + aliments pour animaux + semences + pertes + traitements + autres utilisations
- production + importations - exportations - variations des stocks

<a id="question3"></a>
## Question 3 : Calcul (pour chaque pays et chaque produit) de la disponibilité alimentaire en kcal puis en kg par protéines

### Démarche :
- Projection puis restriction sur chaque tableau "végétaux", "animaux" et "céréales" pour n'afficher que la diponibilité alimentaire en kcal/personne/jour en fonction du produit et du pays
- Nettoyage du tableau (suppression valeurs négatives et doublons)
- Jointure naturelle de chacun de ces 3 tableaux résultant avec le tableau "Pop" de la question 1 par la                          colonne "Zone"
- Union de ces trois nouveaux tableaux (Union 1)
- Conversion de la diponibilité alimentaire en kcal/personne/jour en kcal/jour
- Suppression de la colonne "Élément" puis renommage de la colonne "Valeur" par "disponibilité alimentaire                 en kcal/jour"
- Reprendre la démarche depuis le début mais sélectionner cette fois-ci la disponibilité alimentaire en              protéines en g/personne/jour
- Union des ces trois nouveaux tableaux (Union 2)
- Conversion de la disponibilité alimentaire en protéines en kg (initialement en kg/personne/jour)
- Suppression de la colonne "Élément" puis renommage de la colonne "Valeur" par "disponibilité alimentaire             en protéines en kg/jour"
- Jointure naturelle de Union 1 et Union 2 par la colonne "Zone"

### Tableau en kcal Végétaux

In [27]:
vegetaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [28]:
# Affichage des noms des colonnes

vegetaux.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [29]:
# Projection

vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

proj_vegetaux = vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Affichage de la valeur "Disponibilité alimentaire (Kcal/personne/jour)"

vegetaux.Élément.unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Disponibilité intérieure', 'Semences', 'Pertes', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Aliments pour animaux', 'Exportations - Quantité', 'Traitement',
       'Autres utilisations (non alimentaire)'], dtype=object)

In [30]:
# Restriction

masque = vegetaux.Élément == "Disponibilité alimentaire (Kcal/personne/jour)"

proj_vegetaux[masque]

# Recherche de valeurs incohérentes

vegetaux_Verif = proj_vegetaux[masque]

vegetaux_Verif.sort_values(by="Valeur").head()

,Zone,Élément,Produit,Valeur
52004,Japon,Disponibilité alimentaire (Kcal/personne/jour),Avoine,-21.0
27173,Croatie,Disponibilité alimentaire (Kcal/personne/jour),"Agrumes, Autres",0.0
68483,Namibie,Disponibilité alimentaire (Kcal/personne/jour),Huile de Coco,0.0
27189,Croatie,Disponibilité alimentaire (Kcal/personne/jour),Bananes plantains,0.0
27215,Croatie,Disponibilité alimentaire (Kcal/personne/jour),Dattes,0.0

In [31]:
# Il y a une valeur négative pour la ligne 52004
# Suppression des valeurs négatives du tableau

vegetaux_Verif.drop(vegetaux_Verif[vegetaux_Verif.Valeur<0].index)

# Suppression d'éventuels doublons

vegetaux_Verif2 = vegetaux_Verif.drop(vegetaux_Verif[vegetaux_Verif.Valeur<0].index)

vegetaux_Verif2.drop_duplicates()

# Jointure naturelle avec le tableau "Pop" de la question 1

vegetaux_dispoAlimKcal = vegetaux_Verif2.drop_duplicates()

pd.merge(Pop, vegetaux_dispoAlimKcal)

,Zone,Population en milliers d'habitants,Élément,Produit,Valeur
0,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Blé,1369.0
1,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Riz (Eq Blanchi),141.0
2,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Orge,26.0
3,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Maïs,21.0
4,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Millet,3.0
...,...,...,...,...,...
10531,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Bière,24.0
10532,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Boissons Fermentés,10.0
10533,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Boissons Alcooliques,42.0
10534,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Aliments pour enfants,0.0
10535,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Miscellanees,2.0

### Tableau en kcal Céréales

In [32]:
cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [33]:
# En affichant les premières lignes du tableau "Céréales",
# seule la valeur "Production" apparaît.
# Vérification s'il y a des valeurs "disponibilité alimentaire en kcal"
# et "disponibilité alimentaire en kg de protéines" :

cereales.Élément.unique()

array(['Production'], dtype=object)

#### Pas de disponibilité alimentaire pour les céréales.

### Tableau en kcal Animaux

In [34]:
animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [35]:
animaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

proj_animaux = animaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

masque = animaux.Élément == "Disponibilité alimentaire (Kcal/personne/jour)"

proj_animaux[masque]

# Recherche de valeurs incohérentes

animaux_Verif = proj_animaux[masque]

animaux_Verif.sort_values(by="Valeur").head()

,Zone,Élément,Produit,Valeur
37163,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Plantes Aquatiques,0.0
29269,République dominicaine,Disponibilité alimentaire (Kcal/personne/jour),Huiles de Foie de Poisso,0.0
13821,Géorgie,Disponibilité alimentaire (Kcal/personne/jour),Perciform,0.0
13779,Géorgie,Disponibilité alimentaire (Kcal/personne/jour),Huiles de Poissons,0.0
13759,Géorgie,Disponibilité alimentaire (Kcal/personne/jour),Crème,0.0

In [36]:
# Pas de valeurs négatives
# Suppression d'éventuels doublons

animaux_Verif.drop_duplicates()

,Zone,Élément,Produit,Valeur
5,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Viande de Bovins,27.0
12,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Viande d'Ovins/Caprins,31.0
20,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,9.0
28,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),"Viande, Autre",1.0
35,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Abats Comestible,5.0
...,...,...,...,...
37128,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),"Poissons Marins, Autres",0.0
37138,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Crustacés,0.0
37146,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Cephalopodes,0.0
37155,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),"Mollusques, Autres",0.0
37163,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Plantes Aquatiques,0.0

In [37]:
# Jointure naturelle avec le tableau "Pop" de la question 1

animaux_dispoAlimKcal = animaux_Verif.drop_duplicates()

pd.merge(Pop, animaux_dispoAlimKcal)

,Zone,Population en milliers d'habitants,Élément,Produit,Valeur
0,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Viande de Bovins,27.0
1,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Viande d'Ovins/Caprins,31.0
2,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,9.0
3,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),"Viande, Autre",1.0
4,Afghanistan,30552,Disponibilité alimentaire (Kcal/personne/jour),Abats Comestible,5.0
...,...,...,...,...,...
3699,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),"Poissons Marins, Autres",0.0
3700,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Crustacés,0.0
3701,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Cephalopodes,0.0
3702,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),"Mollusques, Autres",0.0
3703,Zimbabwe,14150,Disponibilité alimentaire (Kcal/personne/jour),Plantes Aquatiques,0.0

#### Union des tableaux de disponibilité alimentaire en Kcal/personne/jour

In [38]:
animauxDispoAlimKcal = pd.merge(Pop, animaux_dispoAlimKcal)
vegetauxDispoAlimKcal = pd.merge(Pop, vegetaux_dispoAlimKcal)

pd.concat([animauxDispoAlimKcal, vegetauxDispoAlimKcal])

# Conversion de la disponibilité alimentaire en kcal/personne/jour en kcal/jour

DispoAlimKcal = pd.concat([animauxDispoAlimKcal, vegetauxDispoAlimKcal])

# Je renomme temporairement la colonne "Population en milliers d'habitants" avec "A" pour faciliter
# l'écriture de la multiplication

DispoAlimKcal.rename(columns={"Population en milliers d'habitants":"A"})

DispoKcal = DispoAlimKcal.rename(columns={"Population en milliers d'habitants":"A"})

# Il faut multiplier A par 1000 car l'unité de la population est le millier d'habitants

DispoKcal["Valeur"] = DispoKcal.Valeur*DispoKcal.A*1000

# Suppression de la colonne "Élément"

DispoKcal.drop(columns=["Élément"])

proj_DispoKcal = DispoKcal.drop(columns=["Élément"])

# Renommage des colonnes

DisKcal = proj_DispoKcal

DisKcal.rename(columns={"A" : "Population en milliers d'habitants", "Valeur":"Disponibilité alimentaire en kcal/jour"})

Union1 = DisKcal.rename(columns={"A" : "Population en milliers d'habitants", "Valeur":"Disponibilité alimentaire en kcal/jour"})

#### Disponibilité alimentaire annuelle par produit et par pays en kcal

In [39]:
Union1

,Zone,Population en milliers d'habitants,Produit,Disponibilité alimentaire en kcal/jour
0,Afghanistan,30552,Viande de Bovins,824904000.0
1,Afghanistan,30552,Viande d'Ovins/Caprins,947112000.0
2,Afghanistan,30552,Viande de Volailles,274968000.0
3,Afghanistan,30552,"Viande, Autre",30552000.0
4,Afghanistan,30552,Abats Comestible,152760000.0
...,...,...,...,...
10531,Zimbabwe,14150,Bière,339600000.0
10532,Zimbabwe,14150,Boissons Fermentés,141500000.0
10533,Zimbabwe,14150,Boissons Alcooliques,594300000.0
10534,Zimbabwe,14150,Aliments pour enfants,0.0
10535,Zimbabwe,14150,Miscellanees,28300000.0

### Tableau en kg de protéines Végétaux

In [40]:
# Projection sur le tableau végétaux

vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Nouveau tableau avec projection

proj_vegetaux = vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Création d'un masque pour restriction telle que seul les lignes avec la valeur
# "Disponibilité de protéines en quantité (g/personne/jour)" apparaissent.

masque = vegetaux.Élément == "Disponibilité de protéines en quantité (g/personne/jour)"

proj_vegetaux[masque]

# Recherche de valeurs incohérentes

vegetaux_Verif = proj_vegetaux[masque]

vegetaux_Verif.sort_values(by="Valeur").head()

,Zone,Élément,Produit,Valeur
52005,Japon,Disponibilité de protéines en quantité (g/pers...,Avoine,-0.37
77068,Pays-Bas,Disponibilité de protéines en quantité (g/pers...,Graines Colza/Moutarde,0.00
84827,Roumanie,Disponibilité de protéines en quantité (g/pers...,Soja,0.00
35461,Éthiopie,Disponibilité de protéines en quantité (g/pers...,Ananas,0.00
35469,Éthiopie,Disponibilité de protéines en quantité (g/pers...,Dattes,0.00

In [41]:
# Il y a une valeur négative pour la ligne 52005
# Suppression des valeurs négatives

vegetaux_Verif.drop(vegetaux_Verif[vegetaux_Verif.Valeur<0].index)

# Suppression d'éventuels doublons

vegetaux_Verif2 = vegetaux_Verif.drop(vegetaux_Verif[vegetaux_Verif.Valeur<0].index)

vegetaux_Verif2.drop_duplicates()

# Jointure naturelle des tableaux Pop et végétaux
# La jointure se fait par la colonne "Zone"

vegetaux_dispoAlimKgProt = vegetaux_Verif2.drop_duplicates()

pd.merge(Pop, vegetaux_dispoAlimKgProt)

,Zone,Population en milliers d'habitants,Élément,Produit,Valeur
0,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Blé,36.91
1,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Riz (Eq Blanchi),2.70
2,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Orge,0.79
3,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Maïs,0.56
4,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Millet,0.08
...,...,...,...,...,...
7880,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,"Épices, Autres",0.02
7881,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Bière,0.28
7882,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Boissons Fermentés,0.13
7883,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Aliments pour enfants,0.00
7884,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Miscellanees,0.07

### Tableau en kg de protéines animaux

In [42]:
# Projection sur le tableau animaux

animaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Nouveau tableau avec projection

proj_animaux = animaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Création d'un masque pour restriction telle que seul les lignes avec la valeur
# "Disponibilité de protéines en quantité (g/personne/jour)" apparaissent.

masque = animaux.Élément == "Disponibilité de protéines en quantité (g/personne/jour)"

proj_animaux[masque]

# Recherche de valeurs incohérentes

animaux_Verif = proj_animaux[masque]

animaux_Verif.sort_values(by="Valeur").head()

,Zone,Élément,Produit,Valeur
18835,Kazakhstan,Disponibilité de protéines en quantité (g/pers...,"Mollusques, Autres",0.0
17477,Islande,Disponibilité de protéines en quantité (g/pers...,Cephalopodes,0.0
17455,Islande,Disponibilité de protéines en quantité (g/pers...,"Poissons Marins, Autres",0.0
17388,Islande,Disponibilité de protéines en quantité (g/pers...,Huiles de Foie de Poisso,0.0
17377,Islande,Disponibilité de protéines en quantité (g/pers...,Huiles de Poissons,0.0

In [43]:
# Pas de valeurs négatives
# Suppression d'éventuels doublons

animaux_Verif.drop_duplicates()

,Zone,Élément,Produit,Valeur
6,Afghanistan,Disponibilité de protéines en quantité (g/pers...,Viande de Bovins,1.89
13,Afghanistan,Disponibilité de protéines en quantité (g/pers...,Viande d'Ovins/Caprins,1.91
21,Afghanistan,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,0.87
29,Afghanistan,Disponibilité de protéines en quantité (g/pers...,"Viande, Autre",0.17
36,Afghanistan,Disponibilité de protéines en quantité (g/pers...,Abats Comestible,0.77
...,...,...,...,...
37129,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,"Poissons Marins, Autres",0.03
37139,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Crustacés,0.00
37147,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Cephalopodes,0.00
37156,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,"Mollusques, Autres",0.00
37164,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Plantes Aquatiques,0.00

In [44]:
# Jointure naturelle avec le tableau "Pop" de la question 1

animaux_dispoAlimKgProt = animaux_Verif.drop_duplicates()

pd.merge(Pop, animaux_dispoAlimKgProt)

,Zone,Population en milliers d'habitants,Élément,Produit,Valeur
0,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Viande de Bovins,1.89
1,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Viande d'Ovins/Caprins,1.91
2,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,0.87
3,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,"Viande, Autre",0.17
4,Afghanistan,30552,Disponibilité de protéines en quantité (g/pers...,Abats Comestible,0.77
...,...,...,...,...,...
3670,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,"Poissons Marins, Autres",0.03
3671,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Crustacés,0.00
3672,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Cephalopodes,0.00
3673,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,"Mollusques, Autres",0.00
3674,Zimbabwe,14150,Disponibilité de protéines en quantité (g/pers...,Plantes Aquatiques,0.00

### Union des tableaux de disponibilité alimentaire en Kg/personne/jour

In [45]:
animauxDispoAlimKgProt = pd.merge(Pop, animaux_dispoAlimKgProt)
vegetauxDispoAlimKgProt = pd.merge(Pop, vegetaux_dispoAlimKgProt)

pd.concat([animauxDispoAlimKgProt, vegetauxDispoAlimKgProt])

# Création du tableau issu de l'union 
DispoAlimKgProt = pd.concat([animauxDispoAlimKgProt, vegetauxDispoAlimKgProt])

# Conversion de la disponibilité alimentaire en protéines en g/personne/jour en kg/jour

DispoAlimKgProt.rename(columns={"Population en milliers d'habitants":"A"})

DispoKgProt = DispoAlimKgProt.rename(columns={"Population en milliers d'habitants":"A"})

# Il faudrait multipier la population par 1000 car l'unité de la population est le millier d'habitants
# mais il faudrait également diviser par 1000 pour convertir les grammes en kg
# donc il n'y a pas besoin d'opérateur

DispoKgProt["Valeur"] = DispoKgProt.Valeur*DispoKgProt.A

# Suppression de la colonne "Élément"

DispoKgProt.drop(columns=["Élément"])

proj_DispoKgProt = DispoKgProt.drop(columns=["Élément"])

# Renommage des colonnes

DisKgProt = proj_DispoKgProt

DisKgProt.rename(columns={"A" : "Population en milliers d'habitants", "Valeur":"Disponibilité alimentaire en protéines en kg/jour"})

Union2 = DisKgProt.rename(columns={"A" : "Population en milliers d'habitants", "Valeur":"Disponibilité alimentaire en protéines en kg/jour"})

### Disponibilité alimentaire annuelle par produit et par pays en kcal

In [46]:
Union2

,Zone,Population en milliers d'habitants,Produit,Disponibilité alimentaire en protéines en kg/jour
0,Afghanistan,30552,Viande de Bovins,57743.28
1,Afghanistan,30552,Viande d'Ovins/Caprins,58354.32
2,Afghanistan,30552,Viande de Volailles,26580.24
3,Afghanistan,30552,"Viande, Autre",5193.84
4,Afghanistan,30552,Abats Comestible,23525.04
...,...,...,...,...
7880,Zimbabwe,14150,"Épices, Autres",283.00
7881,Zimbabwe,14150,Bière,3962.00
7882,Zimbabwe,14150,Boissons Fermentés,1839.50
7883,Zimbabwe,14150,Aliments pour enfants,0.00
7884,Zimbabwe,14150,Miscellanees,990.50

### Jointure de Union 1 et Union 2

In [47]:
pd.merge(Union1, Union2)

Tableau3 = pd.merge(Union1, Union2)

<a id="reponse3"></a>
### Tableau pour chaque pays et chaque produit de la disponibilité alimentaire en kcal et en kg par protéines :

In [48]:
Tableau3

,Zone,Population en milliers d'habitants,Produit,Disponibilité alimentaire en kcal/jour,Disponibilité alimentaire en protéines en kg/jour
0,Afghanistan,30552,Viande de Bovins,824904000.0,57743.28
1,Afghanistan,30552,Viande d'Ovins/Caprins,947112000.0,58354.32
2,Afghanistan,30552,Viande de Volailles,274968000.0,26580.24
3,Afghanistan,30552,"Viande, Autre",30552000.0,5193.84
4,Afghanistan,30552,Abats Comestible,152760000.0,23525.04
...,...,...,...,...,...
11555,Zimbabwe,14150,"Épices, Autres",14150000.0,283.00
11556,Zimbabwe,14150,Bière,339600000.0,3962.00
11557,Zimbabwe,14150,Boissons Fermentés,141500000.0,1839.50
11558,Zimbabwe,14150,Aliments pour enfants,0.0,0.00
11559,Zimbabwe,14150,Miscellanees,28300000.0,990.50

<a id="question4"></a>
## Question 4 : calculer pour chaque produit le ratio "énergie/poids" en kcal/kg.Vérifier la cohérence de ce résultat en comparant ce ratio aux données disponibles sur Internet, avec par exemple la valeur calorique d'un oeuf. Calculer également le pourcentage de protéines de chaque produit pour chaque pays. Vérifier la cohérence du calcul en comparant les résultats avec la teneur en protéines de l'avoine.

In [49]:
# Identification de la colonne donnant le poids total de disponibilité alimentaire
# pour le tableau des animaux

animaux.Élément.unique()

array(['Production', 'Importations - Quantité',
       'Disponibilité intérieure', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Semences', 'Pertes', 'Exportations - Quantité',
       'Aliments pour animaux', 'Autres utilisations (non alimentaire)',
       'Variation de stock', 'Traitement'], dtype=object)

In [50]:
# Identification de la colonne donnant le poids total de disponibilité alimentaire
# pour le tableau des végétaux

vegetaux.Élément.unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Disponibilité intérieure', 'Semences', 'Pertes', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Aliments pour animaux', 'Exportations - Quantité', 'Traitement',
       'Autres utilisations (non alimentaire)'], dtype=object)

In [51]:
# C'est la colonne "Disponibilité alimentaire en quantité (kg/personne/an)" pour chaque tableau

### Tableau de disponibilité alimentaire en kg/personne/an pour les animaux

In [52]:
# Projection sur le tableau animaux

animaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Nouveau tableau avec projections

proj_animaux = animaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Création d'un masque pour restriction telle que seules les lignes avec la valeur
# "Disponibilité alimentaire en quantité (kg/personne/an)" apparaissent.

masque = animaux.Élément == "Disponibilité alimentaire en quantité (kg/personne/an)"

# Recherche de valeurs incohérentes

animaux_Verif = proj_animaux[masque]

animaux_Verif.sort_values(by="Valeur").head()

,Zone,Élément,Produit,Valeur
37162,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Plantes Aquatiques,0.0
11098,Équateur,Disponibilité alimentaire en quantité (kg/pers...,Huiles de Poissons,0.0
11108,Équateur,Disponibilité alimentaire en quantité (kg/pers...,Huiles de Foie de Poisso,0.0
29918,Roumanie,Disponibilité alimentaire en quantité (kg/pers...,Huiles de Foie de Poisso,0.0
29907,Roumanie,Disponibilité alimentaire en quantité (kg/pers...,Huiles de Poissons,0.0

In [53]:
# Pas de valeur négatives
# Suppression d'éventuels doublons

animaux_Verif.drop_duplicates()

,Zone,Élément,Produit,Valeur
4,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,4.59
11,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Viande d'Ovins/Caprins,4.92
19,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Viande de Volailles,2.45
27,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,"Viande, Autre",0.38
34,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,1.72
...,...,...,...,...
37127,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,"Poissons Marins, Autres",0.12
37137,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Crustacés,0.00
37145,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Cephalopodes,0.00
37154,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,"Mollusques, Autres",0.01
37162,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Plantes Aquatiques,0.00

In [54]:
# Nouveau tableau avec restriction
animaux_dispoAlimKgParPersParAn = animaux_Verif.drop_duplicates()

# Renommage colonne "Valeur" avec "Disponibilité alimentaire en quantité (kg/personne/an)"
animaux_dispoAlimKgParPersParAn.rename(columns = {"Valeur" : "Disponibilité alimentaire en quantité (kg/personne/an)"})

# Suppression colonne "Élément"

animaux_dispoAlim = animaux_dispoAlimKgParPersParAn.rename(columns = {"Valeur" : "Disponibilité alimentaire en quantité (kg/personne/an)"})
animaux_dispoAlim.drop(columns=["Élément"])

,Zone,Produit,Disponibilité alimentaire en quantité (kg/personne/an)
4,Afghanistan,Viande de Bovins,4.59
11,Afghanistan,Viande d'Ovins/Caprins,4.92
19,Afghanistan,Viande de Volailles,2.45
27,Afghanistan,"Viande, Autre",0.38
34,Afghanistan,Abats Comestible,1.72
...,...,...,...
37127,Zimbabwe,"Poissons Marins, Autres",0.12
37137,Zimbabwe,Crustacés,0.00
37145,Zimbabwe,Cephalopodes,0.00
37154,Zimbabwe,"Mollusques, Autres",0.01
37162,Zimbabwe,Plantes Aquatiques,0.00

#### Tableau de disponibilité alimentaire en kg/personne/an pour les végétaux

In [55]:
# Projection sur le tableau animaux

vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Nouveau tableau avec projections

proj_vegetaux = vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

# Création d'un masque pour restriction telle que seul les lignes avec la valeur
# "Disponibilité alimentaire en quantité (kg/personne/an)" apparaissent.

masque = vegetaux.Élément == "Disponibilité alimentaire en quantité (kg/personne/an)"

proj_vegetaux[masque]

# Recherche de valeurs incohérentes

vegetaux_Verif = proj_vegetaux[masque]

vegetaux_Verif.sort_values(by="Valeur").head()

,Zone,Élément,Produit,Valeur
52003,Japon,Disponibilité alimentaire en quantité (kg/pers...,Avoine,-1.93
104864,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Aliments pour enfants,0.00
44622,Honduras,Disponibilité alimentaire en quantité (kg/pers...,Pois,0.00
82130,République de Moldova,Disponibilité alimentaire en quantité (kg/pers...,Patates douces,0.00
82111,République de Moldova,Disponibilité alimentaire en quantité (kg/pers...,Manioc,0.00

In [56]:
# Il y a une valeur négative pour la ligne 52003
# Suppression des valeurs négatives

vegetaux_Verif.drop(vegetaux_Verif[vegetaux_Verif.Valeur<0].index)

# Suppression d'éventuels doublons

vegetaux_Verif2 = vegetaux_Verif.drop(vegetaux_Verif[vegetaux_Verif.Valeur<0].index)

vegetaux_Verif2.drop_duplicates()

,Zone,Élément,Produit,Valeur
7,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Blé,160.23
17,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Riz (Eq Blanchi),13.82
29,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Orge,2.92
41,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Maïs,2.50
50,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Millet,0.40
...,...,...,...,...
104827,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Vin,0.27
104835,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Bière,20.63
104843,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Boissons Fermentés,10.44
104852,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Boissons Alcooliques,5.15
104864,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Aliments pour enfants,0.00

In [57]:
# Renommage colonne "Valeur" avec "Disponibilité alimentaire en quantité (kg/personne/an)"

vegetaux_dispoAlimKgParPersParAn = vegetaux_Verif2.drop_duplicates()

vegetaux_dispoAlimKgParPersParAn.rename(columns = {"Valeur" : "Disponibilité alimentaire en quantité (kg/personne/an)"})

# Suppression colonne "Élément"

vegetaux_dispoAlim = vegetaux_dispoAlimKgParPersParAn.rename(columns = {"Valeur" : "Disponibilité alimentaire en quantité (kg/personne/an)"})
vegetaux_dispoAlim.drop(columns=["Élément"])

,Zone,Produit,Disponibilité alimentaire en quantité (kg/personne/an)
7,Afghanistan,Blé,160.23
17,Afghanistan,Riz (Eq Blanchi),13.82
29,Afghanistan,Orge,2.92
41,Afghanistan,Maïs,2.50
50,Afghanistan,Millet,0.40
...,...,...,...
104827,Zimbabwe,Vin,0.27
104835,Zimbabwe,Bière,20.63
104843,Zimbabwe,Boissons Fermentés,10.44
104852,Zimbabwe,Boissons Alcooliques,5.15
104864,Zimbabwe,Aliments pour enfants,0.00

#### Union des deux tableaux puis jointure du tableau résultant avec le tableau question 3

In [58]:
# Nommage des tableaux de disponibilité alimentaire en kg par par personne et par an
# pour les végétaux et les animaux
animaux_dispoAlim_Def = animaux_dispoAlim.loc[ : ,('Zone','Produit', 'Disponibilité alimentaire en quantité (kg/personne/an)')]
vegetaux_dispoAlim_Def = vegetaux_dispoAlim.loc[ : ,('Zone','Produit', 'Disponibilité alimentaire en quantité (kg/personne/an)')]

# Union de ces deux tableaux
pd.concat([animaux_dispoAlim_Def, vegetaux_dispoAlim_Def])

# Nommage du tableau issu de l'union
animaux_vegetaux_dispoAlim_Def = pd.concat([animaux_dispoAlim_Def, vegetaux_dispoAlim_Def])

# Jointure naturelle de ce tableau avec Tableau 3
pd.merge(Tableau3, animaux_vegetaux_dispoAlim_Def)

,Zone,Population en milliers d'habitants,Produit,Disponibilité alimentaire en kcal/jour,Disponibilité alimentaire en protéines en kg/jour,Disponibilité alimentaire en quantité (kg/personne/an)
0,Afghanistan,30552,Viande de Bovins,824904000.0,57743.28,4.59
1,Afghanistan,30552,Viande d'Ovins/Caprins,947112000.0,58354.32,4.92
2,Afghanistan,30552,Viande de Volailles,274968000.0,26580.24,2.45
3,Afghanistan,30552,"Viande, Autre",30552000.0,5193.84,0.38
4,Afghanistan,30552,Abats Comestible,152760000.0,23525.04,1.72
...,...,...,...,...,...,...
11388,Zimbabwe,14150,Piments,84900000.0,3113.00,0.68
11389,Zimbabwe,14150,"Épices, Autres",14150000.0,283.00,0.06
11390,Zimbabwe,14150,Bière,339600000.0,3962.00,20.63
11391,Zimbabwe,14150,Boissons Fermentés,141500000.0,1839.50,10.44
11392,Zimbabwe,14150,Aliments pour enfants,0.0,0.00,0.00

### Calcul du ratio énergie/poids et du pourcentage de protéines de chaque produit pour chaque pays :

In [59]:
# Création d'un nouveau tableau puis renommage des colonnes pour simplifier les opérations :

TabDispoAlim = pd.merge(Tableau3, animaux_vegetaux_dispoAlim_Def)

TabDispoAlim.rename(columns = {"Population en milliers d'habitants": "A",
                              "Disponibilité alimentaire en kcal/jour" : "B",
                              "Disponibilité alimentaire en protéines en kg/jour": "C",
                              "Disponibilité alimentaire en quantité (kg/personne/an)" : "D"})

# Création d'un nouveau tableau puis conversion
# de la valeur de la disponibilité alimentaire en kcal/an
# en disponibilité alimentaire en quantité par kcal/personne/an ("C")

TabDispoAlimPourCalcul = TabDispoAlim.rename(columns = {"Population en milliers d'habitants": "A",
                              "Disponibilité alimentaire en kcal/jour" : "B",
                              "Disponibilité alimentaire en protéines en kg/jour": "C",
                              "Disponibilité alimentaire en quantité (kg/personne/an)" : "D"})

# Division des disponibilité alimentaire en kcal et en kg de protéines par le nombre d'habitants
# Il faut multiplier A par 1000 puisque l'unité est le millier d'habitants

TabDispoAlimPourCalcul["B"] = TabDispoAlimPourCalcul.B/(TabDispoAlimPourCalcul.A*1000)
TabDispoAlimPourCalcul["C"] = TabDispoAlimPourCalcul.C/(TabDispoAlimPourCalcul.A*1000)

# Création des nouvelles colonnes "Ratio énergie/poids" et "Pourcentages de protéines"
# Puis calcul de leurs valeurs
# Il faut diviser D par 365 car la disponiblité alimentaire en quantité est donnée pour un an 

TabDispoAlimPourCalcul["Ratio énergie/poids en kcal/kg"]= TabDispoAlimPourCalcul.B/(TabDispoAlimPourCalcul.D/365)

TabDispoAlimPourCalcul["Pourcentage de protéines"] = (TabDispoAlimPourCalcul.C/(TabDispoAlimPourCalcul.D/365))*100

# Suppression des colonnes de la question précédente

TabDispoAlimPourCalcul.drop(columns=["A", "B", "C", "D"])

T4 = TabDispoAlimPourCalcul.drop(columns=["A", "B", "C", "D"])

<a id="reponse4"></a>
### Ratio énergie/poids et pourcentage de protéines par produits et par pays :

In [60]:
T4

,Zone,Produit,Ratio énergie/poids en kcal/kg,Pourcentage de protéines
0,Afghanistan,Viande de Bovins,2147.058824,15.029412
1,Afghanistan,Viande d'Ovins/Caprins,2299.796748,14.169715
2,Afghanistan,Viande de Volailles,1340.816327,12.961224
3,Afghanistan,"Viande, Autre",960.526316,16.328947
4,Afghanistan,Abats Comestible,1061.046512,16.340116
...,...,...,...,...
11388,Zimbabwe,Piments,3220.588235,11.808824
11389,Zimbabwe,"Épices, Autres",6083.333333,12.166667
11390,Zimbabwe,Bière,424.624333,0.495395
11391,Zimbabwe,Boissons Fermentés,349.616858,0.454502
11392,Zimbabwe,Aliments pour enfants,NaN,NaN

###  Comparaison des résultats de ratio avec celui d'un oeuf :
- La valeur calorique d'un oeuf est de 147 kcal pour 100 g soit un ratio énergie/poids de 1470 kcal/kg.
- Source : https://fr.wikipedia.org/wiki/%C5%92uf_(aliment)#Valeur_nutritionnelle

In [61]:
# Pour comparer mes résultat au ratio d'un oeuf et vérifier leur cohérence,
# j'affiche les statistiques de T4

T4.describe(include="all")

,Zone,Produit,Ratio énergie/poids en kcal/kg,Pourcentage de protéines
count,11393,11393,1.013900e+04,10063.000000
unique,174,95,NaN,NaN
top,Canada,Blé,NaN,NaN
freq,84,174,NaN,NaN
mean,NaN,NaN,inf,7.055759
std,NaN,NaN,NaN,7.475088
min,NaN,NaN,0.000000e+00,0.000000
25%,NaN,NaN,3.251366e+02,0.604542
50%,NaN,NaN,9.970020e+02,5.639263
75%,NaN,NaN,3.041667e+03,11.398117
max,NaN,NaN,inf,42.583333

In [62]:
# La moyenne et le maximum sont à l'infini, 
# il y a donc des valeurs nulles au dénominateur du calcul
# de certaines valeurs de ratio
# J'affiche à nouveau le tableau4_V2
# puis supprime les valeurs nulles ou Nan

TabDispoAlimPourCalcul.dropna()

T4_Clean = TabDispoAlimPourCalcul.dropna()

T4_V2 = T4_Clean.drop(columns=["A", "B", "C", "D"])

T4_V2.describe(include="all")

T4_Stat = T4_V2.describe(include="all")

T4_Stat["Ratio énergie/poids en kcal/kg"]

count     10063.000000
unique             NaN
top                NaN
freq               NaN
mean       1926.004271
std        2286.494649
min           0.000000
25%         319.505522
50%         977.678571
75%        2963.367250
max       21900.000000
Name: Ratio énergie/poids en kcal/kg, dtype: float64

### La moyenne du ratio de 1927 kcal/kg est du même ordre que la valeur du ratio de l'oeuf.
### La valeur maximale de 21900 kcal/kg est incohérente.
### Recherche du produit correspondant et comparaison avec sa valeur sur Internet :

In [63]:
# Recherche de l'index de la ligne avec la valeur maximale de ratio: 

T4_V2["Ratio énergie/poids en kcal/kg"].argmax()

4336

In [64]:
# Affichage des informations de la ligne 4336

T4_V2.iloc[4336]

Zone                                                Chili
Produit                           Huil Plantes Oleif Autr
Ratio énergie/poids en kcal/kg                      21900
Pourcentage de protéines                             21.9
Name: 5150, dtype: object

<a id="anomaliereponse4"></a>
#### C'est l'huile de moringa oleifera du Chili qui affiche un ratio de 21900 kcal/kg. Or, le ratio sur Internet donne 370 kcal/kg.
Source : https://fr.wikipedia.org/wiki/Moringa_oleifera#Huile_des_graines
### Ce résultat est incohérent.

### Comparaison de l'huile de moringa oleifera du Chili avec celle des autres pays :

In [65]:
T4Oleif = T4_V2[T4_V2["Produit"]== "Huil Plantes Oleif Autr"]

T4Oleif.sort_values(by="Ratio énergie/poids en kcal/kg").tail(60)

,Zone,Produit,Ratio énergie/poids en kcal/kg,Pourcentage de protéines
8971,Nouvelle-Calédonie,Huil Plantes Oleif Autr,8655.714286,0.625714
10131,Saint-Vincent-et-les Grenadines,Huil Plantes Oleif Autr,8658.759124,0.666058
8397,Maurice,Huil Plantes Oleif Autr,8665.467626,0.787770
7995,Luxembourg,Huil Plantes Oleif Autr,8671.985816,0.517730
6484,Gabon,Huil Plantes Oleif Autr,8673.267327,0.722772
5247,Chine - RAS de Macao,Huil Plantes Oleif Autr,8676.229508,0.598361
4596,Bermudes,Huil Plantes Oleif Autr,8690.476190,0.463492
7875,Liban,Huil Plantes Oleif Autr,8690.476190,0.744898
6526,Gambie,Huil Plantes Oleif Autr,8690.476190,0.521429
6905,Haïti,Huil Plantes Oleif Autr,8697.872340,0.465957
4517,Belize,Huil Plantes Oleif Autr,8715.130024,0.345154
6341,Fidji,Huil Plantes Oleif Autr,8721.238938,0.646018
4954,Cabo Verde,Huil Plantes Oleif Autr,8722.426471,0.670956
5769,Djibouti,Huil Plantes Oleif Autr,8731.372549,0.286275
9549,Polynésie française,Huil Plantes Oleif Autr,8733.128834,0.671779
8533,Mongolie,Huil Plantes Oleif Autr,8735.042735,0.623932
3917,Angola,Huil Plantes Oleif Autr,8739.436620,0.514085
4722,Botswana,Huil Plantes Oleif Autr,8747.933884,0.603306
9112,Ouganda,Huil Plantes Oleif Autr,8760.000000,0.000000
7727,Kiribati,Huil Plantes Oleif Autr,8760.000000,0.000000
10224,Sénégal,Huil Plantes Oleif Autr,8778.481013,0.462025
8351,Maroc,Huil Plantes Oleif Autr,8787.037037,0.675926
4284,Bahamas,Huil Plantes Oleif Autr,8793.499044,0.279159
11156,Vanuatu,Huil Plantes Oleif Autr,8810.344828,0.314655
7599,Kazakhstan,Huil Plantes Oleif Autr,8810.344828,0.000000
5200,Chine - RAS de Hong-Kong,Huil Plantes Oleif Autr,8810.344828,0.419540
6793,Guinée,Huil Plantes Oleif Autr,8810.344828,0.000000
7917,Libéria,Huil Plantes Oleif Autr,8824.175824,0.401099
8741,Népal,Huil Plantes Oleif Autr,8827.906977,0.000000
5904,El Salvador,Huil Plantes Oleif Autr,8830.645161,0.588710
7759,Koweït,Huil Plantes Oleif Autr,8836.842105,0.384211
7302,Islande,Huil Plantes Oleif Autr,8848.484848,1.106061
6827,Guinée-Bissau,Huil Plantes Oleif Autr,8878.378378,0.328829
7793,Lesotho,Huil Plantes Oleif Autr,8902.439024,0.445122
8832,Niger,Huil Plantes Oleif Autr,8922.222222,0.000000
10873,Togo,Huil Plantes Oleif Autr,8938.775510,0.000000
8440,Mauritanie,Huil Plantes Oleif Autr,8975.409836,0.598361
11235,Viet Nam,Huil Plantes Oleif Autr,9125.000000,0.000000
4994,Cambodge,Huil Plantes Oleif Autr,9125.000000,1.303571
5297,"Chine, continentale",Huil Plantes Oleif Autr,9125.000000,0.000000
5677,Cuba,Huil Plantes Oleif Autr,9125.000000,0.000000
6247,Éthiopie,Huil Plantes Oleif Autr,9125.000000,0.000000
3688,Afghanistan,Huil Plantes Oleif Autr,9125.000000,0.000000
8652,Myanmar,Huil Plantes Oleif Autr,9125.000000,0.000000
9807,République dominicaine,Huil Plantes Oleif Autr,9125.000000,0.000000
9688,République de Corée,Huil Plantes Oleif Autr,9125.000000,1.052885
7554,Jordanie,Huil Plantes Oleif Autr,9125.000000,0.000000
8179,Malawi,Huil Plantes Oleif Autr,9125.000000,1.303571
6440,France,Huil Plantes Oleif Autr,9232.352941,0.644118
4866,Bulgarie,Huil Plantes Oleif Autr,9885.416667,0.760417
10028,Rwanda,Huil Plantes Oleif Autr,9954.545455,0.000000
6998,Hongrie,Huil Plantes Oleif Autr,9954.545455,0.000000
4193,Autriche,Huil Plantes Oleif Autr,10076.687117,2.239264
7399,Italie,Huil Plantes Oleif Autr,10428.571429,0.000000
3732,Afrique du Sud,Huil Plantes Oleif Autr,10428.571429,0.000000
4139,Australie,Huil Plantes Oleif Autr,11007.936508,5.214286
9770,République démocratique populaire lao,Huil Plantes Oleif Autr,12166.666667,0.000000
6750,Guatemala,Huil Plantes Oleif Autr,18250.000000,0.000000
6051,Espagne,Huil Plantes Oleif Autr,18250.000000,0.000000
5150,Chili,Huil Plantes Oleif Autr,21900.000000,21.900000

In [66]:
T4Oleif.describe()

       Ratio énergie/poids en kcal/kg  Pourcentage de protéines
count                      133.000000                133.000000
mean                      8425.052890                  0.571416
std                       2501.800924                  1.954110
min                          0.000000                  0.000000
25%                       8111.111111                  0.000000
50%                       8620.603015                  0.345154
75%                       8810.344828                  0.670956
max                      21900.000000                 21.900000

### La moyenne des huiles de moringa oleifera est de 8425 kcal/kg.
Cette moyenne est beaucoup plus basse que le ratio de l'huile du Chili. Cependant, l'huile du Guatemala et d'Espagne ont elles aussi un ratio très élevé (18250 kcal/kg). Le ratio de l'huile de moringa oleifera du Chili paraît donc cohérent par comparaison aux autres huiles de moringa oleifera.

###  Comparaison des résultats du pourcentage de protéines avec celui de l'avoine :
La composition en protéines de 100 g d'avoine est de 10,7 g, soit un pourcentage de protéines de 10,7%.
#### Source : https://fr.wikipedia.org/wiki/Avoine_cultiv%C3%A9e

In [67]:
T4_Stat["Pourcentage de protéines"]

count     10063.000000
unique             NaN
top                NaN
freq               NaN
mean          7.055759
std           7.475088
min           0.000000
25%           0.604542
50%           5.639263
75%          11.398117
max          42.583333
Name: Pourcentage de protéines, dtype: float64

### La moyenne des pourcentages de protéines est de 7% et la moyenne de 75% des valeurs est de 11,4%.
Ces résultats sont cohérents par comparaison au pourcentage de l'avoine.
Cependant le maximum de 42,58% est bien supérieur.

### Identification du produit correspondant:

In [68]:
T4_V2["Pourcentage de protéines"].argmax()

1870

In [69]:
T4_V2.iloc[1870]

Zone                                         Mongolie
Produit                           Poissons Pelagiques
Ratio énergie/poids en kcal/kg                6083.33
Pourcentage de protéines                      42.5833
Name: 2294, dtype: object

### Il s'agit des poissons pélagiques de Mongolie.
Comparaison avec les poissons pélagiques des autres pays.

In [70]:
T4PoissonPelagiques = T4_V2[T4_V2["Produit"]== "Poissons Pelagiques"]

T4PoissonPelagiques.sort_values(by="Pourcentage de protéines").tail(60)

,Zone,Produit,Ratio énergie/poids en kcal/kg,Pourcentage de protéines
412,Bénin,Poissons Pelagiques,948.051948,12.087662
1085,Équateur,Poissons Pelagiques,829.545455,12.087662
1258,Finlande,Poissons Pelagiques,937.270726,12.157740
1594,Inde,Poissons Pelagiques,675.925926,12.166667
2928,République-Unie de Tanzanie,Poissons Pelagiques,0.000000,12.166667
2569,Ouganda,Poissons Pelagiques,0.000000,12.166667
3330,Tchad,Poissons Pelagiques,0.000000,12.166667
1855,Kenya,Poissons Pelagiques,0.000000,12.166667
2039,Luxembourg,Poissons Pelagiques,1013.888889,12.166667
2273,Mexique,Poissons Pelagiques,900.000000,12.200000
1042,El Salvador,Poissons Pelagiques,816.293930,12.244409
2145,Maldives,Poissons Pelagiques,840.210604,12.283611
2825,République de Corée,Poissons Pelagiques,896.028881,12.307220
605,Cabo Verde,Poissons Pelagiques,844.628099,12.307438
1364,Ghana,Poissons Pelagiques,866.357069,12.355005
2526,Nouvelle-Zélande,Poissons Pelagiques,944.319460,12.399325
68,Algérie,Poissons Pelagiques,858.823529,12.452941
2208,Maroc,Poissons Pelagiques,858.823529,12.506618
3093,Sao Tomé-et-Principe,Poissons Pelagiques,871.231156,12.564070
1572,Îles Salomon,Poissons Pelagiques,858.823529,12.587132
1703,Islande,Poissons Pelagiques,868.848707,12.589952
2785,Portugal,Poissons Pelagiques,972.650771,12.644460
521,Brésil,Poissons Pelagiques,1004.587156,12.724771
671,Canada,Poissons Pelagiques,969.026549,12.758850
1681,Irlande,Poissons Pelagiques,1060.683761,12.790598
370,Belgique,Poissons Pelagiques,1075.963719,12.911565
3253,Suède,Poissons Pelagiques,1084.925690,12.941614
2611,Pakistan,Poissons Pelagiques,1177.419355,12.951613
1214,Fédération de Russie,Poissons Pelagiques,975.628931,12.970126
914,Croatie,Poissons Pelagiques,885.548523,12.975211
870,Costa Rica,Poissons Pelagiques,1055.421687,13.016867
2483,Norvège,Poissons Pelagiques,1053.608247,13.019588
2105,Malaisie,Poissons Pelagiques,919.202518,13.175236
1129,Estonie,Poissons Pelagiques,922.382671,13.176895
3175,Slovaquie,Poissons Pelagiques,1035.460993,13.202128
1955,Lettonie,Poissons Pelagiques,947.105788,13.223054
3351,Tchéquie (la),Poissons Pelagiques,956.928839,13.397004
25,Afrique du Sud,Poissons Pelagiques,1162.420382,13.484076
3231,Sri Lanka,Poissons Pelagiques,886.951928,13.593502
3540,Uruguay,Poissons Pelagiques,1047.131148,13.612705
1616,Indonésie,Poissons Pelagiques,881.794651,13.762295
1107,Espagne,Poissons Pelagiques,1227.185399,13.849664
1172,États-Unis d'Amérique,Poissons Pelagiques,1136.678201,14.145329
3583,Venezuela (République bolivarienne du),Poissons Pelagiques,1230.337079,14.353933
477,Bosnie-Herzégovine,Poissons Pelagiques,1079.881657,14.470414
565,Bulgarie,Poissons Pelagiques,1081.481481,14.735185
3373,Thaïlande,Poissons Pelagiques,1103.830645,15.269657
2017,Lituanie,Poissons Pelagiques,1082.675923,15.422373
694,Chili,Poissons Pelagiques,1183.783784,15.586486
2971,Royaume-Uni,Poissons Pelagiques,1383.381924,15.855685
2675,Pays-Bas,Poissons Pelagiques,1189.536878,16.152659
1747,Italie,Poissons Pelagiques,1397.522523,16.277027
2632,Panama,Poissons Pelagiques,1267.022697,17.251001
2127,Malawi,Poissons Pelagiques,0.000000,18.250000
2906,République populaire démocratique de Corée,Poissons Pelagiques,0.000000,18.250000
958,Danemark,Poissons Pelagiques,1512.241055,18.456215
174,Argentine,Poissons Pelagiques,1450.331126,18.612583
1790,Japon,Poissons Pelagiques,1426.436782,20.081992
2742,Pologne,Poissons Pelagiques,2009.174312,27.709862
2294,Mongolie,Poissons Pelagiques,6083.333333,42.583333

In [71]:
T4PoissonPelagiques.describe()

       Ratio énergie/poids en kcal/kg  Pourcentage de protéines
count                      172.000000                172.000000
mean                       888.304389                 12.129966
std                        513.050752                  3.420235
min                          0.000000                  0.000000
25%                        806.630745                 10.848121
50%                        885.054839                 11.608869
75%                        973.395311                 12.466360
max                       6083.333333                 42.583333

#### Le pourcentage de protéines des poissons pélagiques de Mongolie est bien supérieur à celui des poissons pélagiques des autres pays. Cependant, le terme "pélagique" renvoie à la haute mer et ne définit donc pas une famille de poissons en particulier.
### Les résultats sont donc considérés comme cohérents.
#### Source supplémentaire : http://www.fao.org/3/y5740f/y5740f0f.htm

In [72]:
# Tableau 4 définitif

Tableau4 = T4_V2

Tableau4

,Zone,Produit,Ratio énergie/poids en kcal/kg,Pourcentage de protéines
0,Afghanistan,Viande de Bovins,2147.058824,15.029412
1,Afghanistan,Viande d'Ovins/Caprins,2299.796748,14.169715
2,Afghanistan,Viande de Volailles,1340.816327,12.961224
3,Afghanistan,"Viande, Autre",960.526316,16.328947
4,Afghanistan,Abats Comestible,1061.046512,16.340116
...,...,...,...,...
11387,Zimbabwe,Poivre,3318.181818,9.954545
11388,Zimbabwe,Piments,3220.588235,11.808824
11389,Zimbabwe,"Épices, Autres",6083.333333,12.166667
11390,Zimbabwe,Bière,424.624333,0.495395
11391,Zimbabwe,Boissons Fermentés,349.616858,0.454502

<a id="question5"></a>
## Question 5 : Citer 5 aliments parmi les 20 aliments les plus caloriques en utilisant le ratio énergie/poids. Ce ratio peut varier selon le pays. Il faut donc d'abord réaliser une moyenne de chaque ratio de produit sur les pays. Créer une nouvelle table avec cette agrégation. Penser à retirer les valeurs nulles pour ne pas fausser le calcul de la moyenne. Citer 5 aliments parmi les plus riches en protéines.

### Les 5 aliments les plus caloriques :

In [73]:
# Renommage de la colonne "Ratio énergie/poids en kcal/kg" pour simplifier les opérations
# Effaçage de toutes les valeurs nulles de Ratio

T4CalculRatio = Tableau4.rename(columns = {"Ratio énergie/poids en kcal/kg":"A"})

T4CalculRatio.drop(T4CalculRatio[T4CalculRatio.A == 0].index)

# Suppression de la colonne "Pourcentage de protéines"

T4CalculRatio2 = T4CalculRatio.drop(T4CalculRatio[T4CalculRatio.A == 0].index)

T4CalculRatio2.drop(columns=["Pourcentage de protéines"])

# Calcul de la moyenne de chaque ratio de produit par pays

T4CalculRatio3 = T4CalculRatio2.drop(columns=["Pourcentage de protéines"])

T4CalculRatio3.groupby("Produit").mean()

# Renommage de la colonne "A"

T4CalculRatio4 = T4CalculRatio3.groupby("Produit").mean()

T4CalculRatio4.rename(columns = {"A" : "Moyenne du ratio énergie/poids sur tous les pays"})

Tableau5_Ratio = T4CalculRatio4.rename(columns = {"A" : "Moyenne du ratio énergie/poids sur tous les pays"})

<a id="reponse5_1"></a>
### Table de la moyenne du ratio énergie/poids de chaque produit sur tous les pays

In [74]:
Tableau5_Ratio

                          Moyenne du ratio énergie/poids sur tous les pays
Produit
Abats Comestible                                               1132.473774
Agrumes, Autres                                                 260.147069
Aliments pour enfants                                          3826.952046
Ananas                                                          439.090511
Animaux Aquatiques Autre                                        618.224052
...                                                                    ...
Viande de Suides                                               2522.656620
Viande de Volailles                                            1301.168956
Viande, Autre                                                  1372.485525
Vin                                                             739.489175
Épices, Autres                                                 3587.285792

[93 rows x 1 columns]

<a id="reponse5_2"></a>
### Recherche des 20 aliments les plus caloriques selon les ratios moyens :

In [75]:
Tableau5_Ratio.sort_values(by="Moyenne du ratio énergie/poids sur tous les pays").tail(20)

                          Moyenne du ratio énergie/poids sur tous les pays
Produit
Palmistes                                                      5475.000000
Arachides Decortiquees                                         5705.476348
Sésame                                                         6136.984310
Beurre, Ghee                                                   7507.566262
Graisses Animales Crue                                         7562.751875
Huile d'Arachide                                               8237.818095
Huile de Son de Riz                                            8264.150943
Huile de Coco                                                  8288.877006
Huile de Palmistes                                             8350.682540
Huile Graines de Coton                                         8478.967032
Huile de Colza&Moutarde                                        8548.729483
Huile de Palme                                                 8682.340531
Huile de Soja                                                  8737.921301
Huil Plantes Oleif Autr                                        8754.156519
Huile de Tournesol                                             8769.634357
Huile d'Olive                                                  8774.038462
Huiles de Poissons                                             8917.431319
Huile de Germe de Maïs                                         8950.891229
Huile de Sésame                                                9559.523810
Huiles de Foie de Poisso                                      11809.003531

<a id="reponse5_3"></a>
### Liste de 5 aliments parmi les 20 les plus caloriques :
- Les huiles de foie de poisson
- L'huile de sésame
- Les graisses animales crues
- Les arachides décortiquées
- Les palmistes

### Les 5 aliments les plus riches en protéines

In [76]:
# Renommage de la colonne "Pourcentage de protéines" pour simplifier les opérations
# Effaçage de toutes les valeurs nulles de pourcentage

T4CalculPourcentage = Tableau4.rename(columns = {"Pourcentage de protéines":"A"})

T4CalculPourcentage.drop(T4CalculPourcentage[T4CalculPourcentage.A == 0].index)

# Suppression de la colonne "Ratio énergie/poids en kcal/kg"

T4CalculPourcentage2 = T4CalculPourcentage.drop(T4CalculPourcentage[T4CalculPourcentage.A == 0].index)

T4CalculPourcentage2.drop(columns=["Ratio énergie/poids en kcal/kg"])

# Calcul de la moyenne de chaque pourcentage de produit par pays

T4CalculPourcentage3 = T4CalculPourcentage2.drop(columns=["Ratio énergie/poids en kcal/kg"])

T4CalculPourcentage3.groupby("Produit").mean()

# Renommage de la colonne "A"

T4CalculPourcentage4 = T4CalculPourcentage3.groupby("Produit").mean()

T4CalculPourcentage4.rename(columns = {"A" : "Moyenne du pourcentage de protéines des produits sur tous les pays"})

Tableau5_Pourcentage = T4CalculPourcentage4.rename(columns = {"A" : "Moyenne du pourcentage de protéines des produits sur tous les pays"})

<a id="reponse5_4"></a>
### Table de la moyenne du pourcentage de protéines des produits sur tous les pays

In [77]:
Tableau5_Pourcentage

                          Moyenne du pourcentage de protéines des produits sur tous les pays
Produit
Abats Comestible                                                  17.630901
Agrumes, Autres                                                    0.447068
Aliments pour enfants                                             15.431743
Ananas                                                             0.305591
Animaux Aquatiques Autre                                           4.553077
...                                                                     ...
Viande de Suides                                                  10.392607
Viande de Volailles                                               12.620016
Viande, Autre                                                     17.848150
Vin                                                                0.007100
Épices, Autres                                                    11.084927

[88 rows x 1 columns]

<a id="reponse5_5"></a>
### Recherche des 20 aliments les plus riches selon les pourcentages moyens :

In [78]:
Tableau5_Pourcentage.sort_values(by="Moyenne du pourcentage de protéines des produits sur tous les pays").tail(20)

                          Moyenne du pourcentage de protéines des produits sur tous les pays
Produit
Poivre                                                            11.261152
Poissons Marins, Autres                                           11.355373
Graines de tournesol                                              12.059930
Poissons Pelagiques                                               12.272671
Piments                                                           12.431027
Viande de Volailles                                               12.620016
Viande d'Ovins/Caprins                                            13.896923
Viande de Bovins                                                  14.461108
Cephalopodes                                                      15.035234
Aliments pour enfants                                             15.431743
Abats Comestible                                                  17.630901
Viande, Autre                                                     17.848150
Sésame                                                            18.710715
Plantes Oleiferes, Autre                                          18.780182
Haricots                                                          21.865805
Légumineuses Autres                                               22.304684
Pois                                                              22.423943
Arachides Decortiquees                                            25.091310
Soja                                                              27.254546
Graines Colza/Moutarde                                            36.500000

<a id="reponse5_6"></a>
### Liste de 5 aliments parmi les 20 les plus riches :
- Les graines colza/moutarde
- Le soja
- Les haricots
- La viande de bovins
- Le poivre

<a id="question6"></a>
## Question 6 : Calculer la disponibilité intérieure mondiale en kcal pour les végétaux.

In [79]:
vegetaux

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104866,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
104867,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
104868,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,2.00,Fc,Donnée calculée
104869,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.07,Fc,Donnée calculée
104870,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.03,Fc,Donnée calculée

In [80]:
# Restriction

masque = vegetaux.Élément == "Disponibilité intérieure"

vegetaux[masque]

# Recherche de valeurs incohérentes

vegetaux_DispoInt_Verif = vegetaux[masque]

vegetaux_DispoInt_Verif.sort_values(by="Valeur").head(106)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
34550,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,231,États-Unis d'Amérique,5301,Disponibilité intérieure,2570,"Plantes Oleiferes, Autre",2013,2013,Milliers de tonnes,-3430.0,S,Données standardisées
51997,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,110,Japon,5301,Disponibilité intérieure,2516,Avoine,2013,2013,Milliers de tonnes,-159.0,S,Données standardisées
77488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,150,Pays-Bas,5301,Disponibilité intérieure,2680,Aliments pour enfants,2013,2013,Milliers de tonnes,-151.0,S,Données standardisées
5161,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,9,Argentine,5301,Disponibilité intérieure,2586,Huil Plantes Oleif Autr,2013,2013,Milliers de tonnes,-113.0,S,Données standardisées
49428,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,104,Irlande,5301,Disponibilité intérieure,2680,Aliments pour enfants,2013,2013,Milliers de tonnes,-105.0,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14917,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,21,Brésil,5301,Disponibilité intérieure,2616,Bananes plantains,2013,2013,Milliers de tonnes,-1.0,S,Données standardisées
29653,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,59,Égypte,5301,Disponibilité intérieure,2532,Manioc,2013,2013,Milliers de tonnes,-1.0,S,Données standardisées
102446,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),5301,Disponibilité intérieure,2659,"Alcool, non Comestible",2013,2013,Milliers de tonnes,-1.0,S,Données standardisées
55254,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,83,Kiribati,5301,Disponibilité intérieure,2515,Seigle,2013,2013,Milliers de tonnes,0.0,S,Données standardisées
52609,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,110,Japon,5301,Disponibilité intérieure,2642,Girofles,2013,2013,Milliers de tonnes,0.0,S,Données standardisées

In [81]:
# Effaçage des valeurs négatives

vegetaux_DispoInt_Verif.drop(vegetaux_DispoInt_Verif[vegetaux_DispoInt_Verif.Valeur < 0].index)

# Suppression d'éventuels doublons

vegetaux_DispoInt_Verif2 = vegetaux_DispoInt_Verif.drop(vegetaux_DispoInt_Verif[vegetaux_DispoInt_Verif.Valeur < 0].index)

vegetaux_DispoInt_Verif2.drop_duplicates()

# Identification de l'unité de la disponibilité intérieure

vegetauxRestrict = vegetaux_DispoInt_Verif2.drop_duplicates()

vegetauxRestrict.Unité.unique

# Une seule unité : le millier de tonnes

<bound method Series.unique of 3         Milliers de tonnes
13        Milliers de tonnes
24        Milliers de tonnes
36        Milliers de tonnes
46        Milliers de tonnes
                 ...
104833    Milliers de tonnes
104841    Milliers de tonnes
104850    Milliers de tonnes
104858    Milliers de tonnes
104862    Milliers de tonnes
Name: Unité, Length: 11569, dtype: object>

In [82]:
# Projection pour ne garder que les colonnes "Zone", "Produit" et "Valeur"

vegetaux_DispoInt_Clean = vegetaux_DispoInt_Verif2.drop_duplicates()

vegetaux_DispoInt_Clean.loc[ : ,('Zone' ,'Produit', 'Valeur')]

# Renommage de la colonne "Valeur"

vegetaux_DispoInt = vegetaux_DispoInt_Clean.loc[ : ,('Zone' ,'Produit', 'Valeur')]

vegetaux_DispoInt.rename(columns={"Valeur": "Disponibilité intérieure en milliers de tonnes"})

Tableau6 = vegetaux_DispoInt.rename(columns={"Valeur": "Disponibilité intérieure en milliers de tonnes"})

Tableau6

,Zone,Produit,Disponibilité intérieure en milliers de tonnes
3,Afghanistan,Blé,5992.0
13,Afghanistan,Riz (Eq Blanchi),461.0
24,Afghanistan,Orge,524.0
36,Afghanistan,Maïs,313.0
46,Afghanistan,Millet,13.0
...,...,...,...
104833,Zimbabwe,Bière,292.0
104841,Zimbabwe,Boissons Fermentés,148.0
104850,Zimbabwe,Boissons Alcooliques,73.0
104858,Zimbabwe,"Alcool, non Comestible",0.0
104862,Zimbabwe,Aliments pour enfants,0.0

#### Pour convertir la disponibilité intérieure en kcal, il faut multiplier la valeur de chaque produit pour chaque pays par le ratio correspondant, figurant dans le Tableau4.
Il faut donc faire une jointure naturelle du Tableau4 avec Tableau6, puis multiplier le ratio du Tableau4 avec la disponibilité intérieure du Tableau6.
On obtient alors une nouvelle colonne qui est la disponibilité intérieure des végétaux en kcal.
On fait la somme des valeurs de cette colonne pour obtenir la disponibilité intérieure mondiale en kcal des végétaux.

In [83]:
# Jointure Tableau4 et Tableau6

JointureT4T6 = pd.merge(Tableau4, Tableau6)

# Suppression de la colonne "Pourcentage de protéines"

TableauRatioDispoInt = JointureT4T6.drop(columns=["Pourcentage de protéines"])

# Renommage des colonnes "Ratio énergie/poids en kcal/kg" et "Disponibilité intérieure en milliers de tonnes"

TableauRatioDispoCalcul = TableauRatioDispoInt.rename(columns={"Ratio énergie/poids en kcal/kg" : "A", 
                                                               "Disponibilité intérieure en milliers de tonnes" : "B"})

# Le ratio étant en kcal/kg et la disponibilité intérieure en milliers de tonnes
# il faut multiplier par 1 000 000

TableauRatioDispoCalcul["Disponibilité intérieure en kcal"] = TableauRatioDispoCalcul.A*TableauRatioDispoCalcul.B*1000000

# Suppression des colonnes "A" et "B"

TableauRatioDispoCalcul["Disponibilité intérieure en kcal"] = TableauRatioDispoCalcul.A*TableauRatioDispoCalcul.B*1000000

Proj_VegetauxDispoIntkcal = TableauRatioDispoCalcul.drop(columns=["A", "B"])

### Tableau de la disponibilité intérieure en kcal pour les végétaux pour chaque produit et chaque pays :

In [84]:
Proj_VegetauxDispoIntkcal

             Zone             Produit  Disponibilité intérieure en kcal
0     Afghanistan                 Blé                      1.868634e+13
1     Afghanistan    Riz (Eq Blanchi)                      1.716741e+12
2     Afghanistan                Orge                      1.703000e+12
3     Afghanistan                Maïs                      9.596580e+11
4     Afghanistan              Millet                      3.558750e+10
...           ...                 ...                               ...
7042     Zimbabwe              Poivre                      6.636364e+09
7043     Zimbabwe             Piments                      3.220588e+10
7044     Zimbabwe      Épices, Autres                      6.083333e+09
7045     Zimbabwe               Bière                      1.239903e+11
7046     Zimbabwe  Boissons Fermentés                      5.174330e+10

[7047 rows x 3 columns]

<a id="reponse6"></a>
### Calcul de la disponibilité intérieure mondiale en kcal pour les végétaux :

In [85]:
Proj_VegetauxDispoIntkcal["Disponibilité intérieure en kcal"].sum()

1.080098010554526e+16

### La disponibilité intérieure mondiale pour les végétaux est 1,08e+16 kcal.

<a id="question7"></a>
## Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donner les résultats en terme de calories puis de protéines, et exprimer ces deux résultats en pourcentage de la population mondiale.

#### La disponibilité intérieure mondiale de végétaux a été calculée question 6 pour l'année 2013.
La population mondiale a été calculée question 1 également pour l'année 2013.
Pour nourrir un être humain, il faut compter 2720 kcal/jour.
Source : http://www.fao.org/nouvelle/1998/981204-f.htm

Un homme a besoin d'une quantité de protéines de 0,85 g par kg, soit 59,5 g s'il pèse 70kg.
Source : http://www.fao.org/tempref/docrep/fao/004/w0073f/w0073f02.pdf (page 17 du pdf)

Les besoins en protéines peuvent varier selon le poids, l'âge et le sexe.
Les données ne nous permettant pas de classer la population mondiale selon leur poids, leur âge et leur sexe, nous simplifierons la calcul en considérant que la population n'est composée que d'hommes de 70 kg.

In [86]:
DispoIntMondialeVegetauxKcal = Proj_VegetauxDispoIntkcal["Disponibilité intérieure en kcal"].sum()
PopulationMondiale = Pop["Population en milliers d'habitants"].sum()*1000

# Calcul du reste de la division euclidienne de la disponibilité intérieure mondiale de végétaux en kcal
# par le produit (2720*365)

HumainsNonNourrisKcal = DispoIntMondialeVegetauxKcal%(2720*365)

# Interprétation : 
# la disponibilité intérieure mondiale de végétaux en kcal (A) est donnée pour un an
# le besoin énergétique d'un humain (B) est donné pour un jour
# Il faut donc d'abord multiplier B par 365 pour avoir le besoin énergétique pour un an
# La division de A/(B*365) donnera un nombre décimal alors que nous cherchons un nombre entier (le nombre d'humains)
# En calculant le reste de la division euclidienne de A/(B*365), nous retranchons ensuite ce résultat
# à la population totale pour obtenir le nombre d'humains nourris

#Calcul du nombre d'humains nourris

HumainsNourrisKcal = PopulationMondiale-HumainsNonNourrisKcal

print("Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture,",
      int(HumainsNourrisKcal), "personnes seraient nourries.")

Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture, 6996536740 personnes seraient nourries.

In [87]:
# Calcul du pourcentage d'humains nourris:

PourcentHumainsNourrisKcal = (HumainsNourrisKcal/PopulationMondiale)*100

print("Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture,",
      round(PourcentHumainsNourrisKcal,2),"% de la population mondiale serait nourrie.")

Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture, 99.99 % de la population mondiale serait nourrie.

In [88]:
# Calcul du pourcentage de protéines de la disponibilité intérieure mondiale

# Jointure Tableau4 et Tableau6

JointureT4T6

,Zone,Produit,Ratio énergie/poids en kcal/kg,Pourcentage de protéines,Disponibilité intérieure en milliers de tonnes
0,Afghanistan,Blé,3118.548337,8.408007,5992.0
1,Afghanistan,Riz (Eq Blanchi),3723.950796,7.130970,461.0
2,Afghanistan,Orge,3250.000000,9.875000,524.0
3,Afghanistan,Maïs,3066.000000,8.176000,313.0
4,Afghanistan,Millet,2737.500000,7.300000,13.0
...,...,...,...,...,...
7042,Zimbabwe,Poivre,3318.181818,9.954545,2.0
7043,Zimbabwe,Piments,3220.588235,11.808824,10.0
7044,Zimbabwe,"Épices, Autres",6083.333333,12.166667,1.0
7045,Zimbabwe,Bière,424.624333,0.495395,292.0
7046,Zimbabwe,Boissons Fermentés,349.616858,0.454502,148.0

In [89]:
# Renommage des colonnes pour simplifier les opérations

JointureT4T6Calcul = JointureT4T6.rename(columns={"Pourcentage de protéines" : "A", 
                                                  "Disponibilité intérieure en milliers de tonnes" : "B"})

# Calcul de la quantité de protéines de la disponibilité intérieure de végétaux avec la colonne "C"

JointureT4T6Calcul["C"] = (JointureT4T6Calcul.A/100)*JointureT4T6Calcul.B

# Division euclidienne

HumainsNonNourrisKgProt = (JointureT4T6Calcul.C.sum()*1000*1000)%((59.5/1000)*365)

#Calcul du nombre d'humains nourris

HumainsNourrisKgProt = PopulationMondiale-HumainsNonNourrisKgProt

print("Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture,",
      int(HumainsNourrisKgProt), "personnes seraient nourries.")

Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture, 6997325981 personnes seraient nourries.

In [90]:
# Calcul du pourcentage d'humains nourris:

PourcentHumainsNourrisKgProt = (HumainsNourrisKgProt/PopulationMondiale)*100

print("Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture,",
      round(PourcentHumainsNourrisKgProt,2),"% de la population mondiale serait nourrie.")

Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture, 100.0 % de la population mondiale serait nourrie.

<a id="question8"></a>
## Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire de produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisées pour de la nourriture ? Donner les résultats en terme de calories puis de protéines, et exprimer ces deux résultats en pourcentage de la population mondiale.

In [91]:
# Projection du tableau vegetaux

proj_vegetaux8 = vegetaux.loc[ : ,('Zone','Élément','Produit', 'Valeur', 'Unité')]

pd.merge(proj_vegetaux8, Pop)

,Zone,Élément,Produit,Valeur,Unité,Population en milliers d'habitants
0,Afghanistan,Production,Blé,5169.00,Milliers de tonnes,30552
1,Afghanistan,Importations - Quantité,Blé,1173.00,Milliers de tonnes,30552
2,Afghanistan,Variation de stock,Blé,-350.00,Milliers de tonnes,30552
3,Afghanistan,Disponibilité intérieure,Blé,5992.00,Milliers de tonnes,30552
4,Afghanistan,Semences,Blé,322.00,Milliers de tonnes,30552
...,...,...,...,...,...,...
104006,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Aliments pour enfants,0.00,g/personne/jour,14150
104007,Zimbabwe,Disponibilité de matière grasse en quantité (g...,Aliments pour enfants,0.00,g/personne/jour,14150
104008,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Miscellanees,2.00,Kcal/personne/jour,14150
104009,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Miscellanees,0.07,g/personne/jour,14150
104010,Zimbabwe,Disponibilité de matière grasse en quantité (g...,Miscellanees,0.03,g/personne/jour,14150

In [92]:
# Restriction à "Disponibilité alimentaire en quantité (kg/personne/an)" puis conversion en milliers de tonnes

MergePopVege8 = pd.merge(proj_vegetaux8, Pop)

VegeRestriction1 = MergePopVege8[MergePopVege8.Élément == 'Disponibilité alimentaire en quantité (kg/personne/an)']

# Conversion de la disponibilité alimentaire en milliers de tonnes (initialement en kg/pers)
# il faut diviser par 1000000 (pour passer du kg au millier de tonnes)
# puis multiplier par 1000 (pour passer du millier d'habitants à la personne)
# soit diviser par 1000

VegeRestriction1Calcul = VegeRestriction1.rename(columns={"Population en milliers d'habitants": "A"})

VegeRestriction1Calcul["Valeur"]=VegeRestriction1Calcul.Valeur*VegeRestriction1Calcul.A/1000

VegeRestriction1Calcul

,Zone,Élément,Produit,Valeur,Unité,A
7,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Blé,4895.34696,kg,30552
17,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Riz (Eq Blanchi),422.22864,kg,30552
29,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Orge,89.21184,kg,30552
41,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Maïs,76.38000,kg,30552
50,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Millet,12.22080,kg,30552
...,...,...,...,...,...,...
103967,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Vin,3.82050,kg,14150
103975,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Bière,291.91450,kg,14150
103983,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Boissons Fermentés,147.72600,kg,14150
103992,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Boissons Alcooliques,72.87250,kg,14150
104004,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Aliments pour enfants,0.00000,kg,14150

In [93]:
# 3 Restrictions:
# - VegeRestr1 faite précédemment, pour la disponibilité alimentaire en milliers de tonnes
# - VegeRestr2 pour les semences en milliers de tonnes
# - VegeRestr3 pour les pertes en milliers de tonnes

VegeRestr1 = VegeRestriction1Calcul
VegeRestr2 = proj_vegetaux8[proj_vegetaux8.Élément == 'Semences']
VegeRestr3 = proj_vegetaux8[proj_vegetaux8.Élément == 'Pertes']

# Union des trois restrictions

ConcatRest1_2_3 = pd.concat([VegeRestr1, VegeRestr2, VegeRestr3])

# Suppression des colonnes "Élément","A","Unité"

ConcatRest1_2_3.drop (columns = ["Élément","A","Unité"])

# Renommage de la colonne "Valeur" par "Disponibilité alimentaire, Semences et Pertes"

RenameConcatRest1_2_3 = ConcatRest1_2_3.drop (columns = ["Élément","A","Unité"])

RenameConcatRest1_2_3.rename(columns={"Valeur" : "Disponibilité alimentaire, Semences et Pertes en milliers de tonnes"})

VegeDispSemencesPertes = RenameConcatRest1_2_3.rename(columns={"Valeur" : "Disponibilité alimentaire, Semences et Pertes en milliers de tonnes"})

In [94]:
VegeDispSemencesPertes

,Zone,Produit,"Disponibilité alimentaire, Semences et Pertes en milliers de tonnes"
7,Afghanistan,Blé,4895.34696
17,Afghanistan,Riz (Eq Blanchi),422.22864
29,Afghanistan,Orge,89.21184
41,Afghanistan,Maïs,76.38000
50,Afghanistan,Millet,12.22080
...,...,...,...
104691,Zimbabwe,"Agrumes, Autres",0.00000
104701,Zimbabwe,Bananes,10.00000
104711,Zimbabwe,Pommes,1.00000
104737,Zimbabwe,Raisin,1.00000
104750,Zimbabwe,"Fruits, Autres",1.00000

In [95]:
# Jointure VegeDispSemencesPertes avec Tableau4

pd.merge(VegeDispSemencesPertes, Tableau4)

,Zone,Produit,"Disponibilité alimentaire, Semences et Pertes en milliers de tonnes",Ratio énergie/poids en kcal/kg,Pourcentage de protéines
0,Afghanistan,Blé,4895.34696,3118.548337,8.408007
1,Afghanistan,Blé,322.00000,3118.548337,8.408007
2,Afghanistan,Blé,775.00000,3118.548337,8.408007
3,Afghanistan,Riz (Eq Blanchi),422.22864,3723.950796,7.130970
4,Afghanistan,Riz (Eq Blanchi),14.00000,3723.950796,7.130970
...,...,...,...,...,...
12095,Zimbabwe,Poivre,1.55650,3318.181818,9.954545
12096,Zimbabwe,Piments,9.62200,3220.588235,11.808824
12097,Zimbabwe,"Épices, Autres",0.84900,6083.333333,12.166667
12098,Zimbabwe,Bière,291.91450,424.624333,0.495395
12099,Zimbabwe,Boissons Fermentés,147.72600,349.616858,0.454502

In [96]:
# Renommage des colonnes pour simplifier les opérations

Tableau8 = pd.merge(VegeDispSemencesPertes, Tableau4)

Tableau8.rename(columns = {"Disponibilité alimentaire, Semences et Pertes en milliers de tonnes" : "A",
                          "Ratio énergie/poids en kcal/kg" : "B",
                          "Pourcentage de protéines" : "C"})

# Conversion de la somme de la disponibilité alimentaire, des semences et des pertes en kcal

Tableau8Calcul = Tableau8.rename(columns = {"Disponibilité alimentaire, Semences et Pertes en milliers de tonnes" : "A",
                          "Ratio énergie/poids en kcal/kg" : "B",
                          "Pourcentage de protéines" : "C"})


Tableau8Calcul["DispoSemencesPertesKcal"] = (Tableau8Calcul.A*1000000)*Tableau8Calcul.B
Tableau8Calcul["DispoSemencesPertesPourcProt"] = (Tableau8Calcul.A*1000000)*(Tableau8Calcul.C/100)

<a id="reponse8_1"></a>
### Calcul du nombres d'humains nourris en termes de calories et pourcentage de la population mondiale

In [97]:
# Calcul du reste de la division euclidienne de la disponibilité intérieure mondiale de végétaux en kcal
# par le produit (2720*365)

DispoSemencesPertesKcal = Tableau8Calcul.DispoSemencesPertesKcal.sum()

HumainsNonNourrisKcal2 = DispoSemencesPertesKcal%(2720*365)

#Calcul du nombre d'humains nourris

HumainsNourrisKcal2 = PopulationMondiale-HumainsNonNourrisKcal2

print("Si la disponibilité alimentaire, les semences et les pertes de végétaux était utilisées pour de la nourriture, on pourrait nourrir",
      int(HumainsNourrisKcal2), "de personnes.")

Si la disponibilité alimentaire, les semences et les pertes de végétaux était utilisées pour de la nourriture, on pourrait nourrir 6997040863 de personnes.

In [98]:
# Calcul du pourcentage d'humains nourris:

PourcentHumainsNourrisKcal2 = (HumainsNourrisKcal2/PopulationMondiale)*100

print("Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture,",
      round(PourcentHumainsNourrisKcal2,2),"% de la population mondiale serait nourrie.")

Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture, 100.0 % de la population mondiale serait nourrie.

<a id="reponse8_2"></a>
### Calcul du nombres d'humains nourris en termes de protéines et pourcentage de la population mondiale

In [99]:
# Division euclidienne 

DispoSemencesPertesPourcProt = Tableau8Calcul.DispoSemencesPertesPourcProt.sum()

HumainsNonNourrisKgProt2 = DispoSemencesPertesPourcProt%((59.5/1000)*365)

#Calcul du nombre d'humains nourris

HumainsNourrisKgProt2 = PopulationMondiale-HumainsNonNourrisKgProt2

print("Si la disponibilité alimentaire, les semences et les pertes de végétaux était utilisées pour de la nourriture, on pourrait nourrir",
      int(HumainsNourrisKgProt2), "de personnes.")

Si la disponibilité alimentaire, les semences et les pertes de végétaux était utilisées pour de la nourriture, on pourrait nourrir 6997325997 de personnes.

In [100]:
# Calcul du pourcentage d'humains nourris

PourcentHumainsNourrisKgProt2 = (HumainsNourrisKgProt2/PopulationMondiale)*100

print("Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture,",
      round(PourcentHumainsNourrisKgProt2,2),"% de la population mondiale serait nourrie.")

Si toute la disponibilité intérieure mondiale de végétaux était utilisée pour de la nourriture, 100.0 % de la population mondiale serait nourrie.

<a id="question9"></a>
## Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donner les résultats en terme de calories puis de protéines, et exprimer ces deux résultats en pourcentage de la population mondiale.

In [101]:
# Le tableau de disponibilité alimentaire en quantité par produits et par pays
# a été créé question 3

TabDispoAlim

,Zone,Population en milliers d'habitants,Produit,Disponibilité alimentaire en kcal/jour,Disponibilité alimentaire en protéines en kg/jour,Disponibilité alimentaire en quantité (kg/personne/an)
0,Afghanistan,30552,Viande de Bovins,824904000.0,57743.28,4.59
1,Afghanistan,30552,Viande d'Ovins/Caprins,947112000.0,58354.32,4.92
2,Afghanistan,30552,Viande de Volailles,274968000.0,26580.24,2.45
3,Afghanistan,30552,"Viande, Autre",30552000.0,5193.84,0.38
4,Afghanistan,30552,Abats Comestible,152760000.0,23525.04,1.72
...,...,...,...,...,...,...
11388,Zimbabwe,14150,Piments,84900000.0,3113.00,0.68
11389,Zimbabwe,14150,"Épices, Autres",14150000.0,283.00,0.06
11390,Zimbabwe,14150,Bière,339600000.0,3962.00,20.63
11391,Zimbabwe,14150,Boissons Fermentés,141500000.0,1839.50,10.44
11392,Zimbabwe,14150,Aliments pour enfants,0.0,0.00,0.00

<a id="reponse9_1"></a>
### Calcul du nombres d'humains nourris en termes de calories et pourcentage de la population mondiale

In [102]:
DispoIntMondialeKcal = TabDispoAlim["Disponibilité alimentaire en kcal/jour"].sum()
PopulationMondiale = Pop["Population en milliers d'habitants"].sum()*1000

# Calcul du reste de la division euclidienne de la disponibilité intérieure mondiale en kcal
# par le produit (2720*365)

HumainsNonNourrisKcal3 = DispoIntMondialeKcal%(2720*365)

#Calcul du nombre d'humains nourris

HumainsNourrisKcal3 = PopulationMondiale-HumainsNonNourrisKcal3

print("Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture,",
      int(HumainsNourrisKcal3), "personnes seraient nourries.")

Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture, 6996357200 personnes seraient nourries.

In [103]:
# Calcul du pourcentage d'humains nourris:

PourcentHumainsNourrisKcal3 = (HumainsNourrisKcal3/PopulationMondiale)*100

print("Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture,",
      round(PourcentHumainsNourrisKcal3,2),"% de la population mondiale serait nourrie.")

Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture, 99.99 % de la population mondiale serait nourrie.

<a id="reponse9_2"></a>
### Calcul du nombres d'humains nourris en termes de protéines et pourcentage de la population mondiale

In [104]:
# Division euclidienne 

DispoIntMondialeKgProt = TabDispoAlim["Disponibilité alimentaire en protéines en kg/jour"].sum()

HumainsNonNourrisKgProt3 = DispoIntMondialeKgProt%((59.5/1000)*365)

#Calcul du nombre d'humains nourris

HumainsNourrisKgProt3 = PopulationMondiale-HumainsNonNourrisKgProt3

print("Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture,",
      int(HumainsNourrisKgProt3), "personnes seraient nourries.")

Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture, 6997325986 personnes seraient nourries.

In [105]:
# Calcul du pourcentage d'humains nourris:

PourcentHumainsNourrisKgProt3 = (HumainsNourrisKgProt3/PopulationMondiale)*100

print("Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture,",
      round(PourcentHumainsNourrisKgProt3,2),"% de la population mondiale serait nourrie.")

Si toute la disponibilité alimentaire mondiale était utilisée pour de la nourriture, 100.0 % de la population mondiale serait nourrie.

<a id="question10"></a>
## Question 10 : Quelle est la proportion de la population mondiale considérée comme étant en sous-nutrition ?

In [106]:
sousalimentation

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.6,F,Estimation FAO,NaN
1016,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,7.2,F,Estimation FAO,NaN
1017,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,7.8,F,Estimation FAO,NaN
1018,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,8.2,F,Estimation FAO,NaN
1019,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,8.5,F,Estimation FAO,NaN

### Vérification des données du dataframe

In [107]:
# Nombre de doublons à supprimer

sousalimentation.duplicated().sum()

# Aucun doublon

0

#### Il n'y a pas de doublons.

### Tableau des populations sous-alimentées
#### On connaît la population mondiale de 2013 donc on va chercher la population sous-alimentée pour 2013 pour calculer la proportion.

In [108]:
sousalimentation.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Note'],
      dtype='object')

In [109]:
sousalimentation.Année.unique

<bound method Series.unique of 0       2012-2014
1       2013-2015
2       2014-2016
3       2015-2017
4       2016-2018
          ...
1015    2012-2014
1016    2013-2015
1017    2014-2016
1018    2015-2017
1019    2016-2018
Name: Année, Length: 1015, dtype: object>

#### Les données sont calculées sur des tranches de trois années.
#### L'énoncé du projet informe que le fichier "fr_sousalimentation.csv" renseigne le nombre de personnes sous-alimentées de 2013 à 2017.
#### Nous allons donc sélectionner les données les plus anciennes qui correspondent à 2013, soit les données de 2012-2014.

In [110]:
ProjSousalimentation = sousalimentation.loc[ : , ("Zone", "Année", "Valeur")]

RestrSousalimentation2013 = ProjSousalimentation[ProjSousalimentation.Année== "2012-2014"]

RestrSousalimentation2013

                                        Zone      Année Valeur
0                                Afghanistan  2012-2014    7.9
5                             Afrique du Sud  2012-2014    2.6
10                                   Albanie  2012-2014    0.2
15                                   Algérie  2012-2014    1.7
20                                 Allemagne  2012-2014    NaN
...                                      ...        ...    ...
995   Venezuela (République bolivarienne du)  2012-2014    1.9
1000                                Viet Nam  2012-2014   10.4
1005                                   Yémen  2012-2014    7.2
1010                                  Zambie  2012-2014      7
1015                                Zimbabwe  2012-2014    6.6

[203 rows x 3 columns]

#### Une valeur NaN apparaît ligne 20.

In [111]:
# Taille du tableau avec valeurs Nan

RestrSousalimentation2013.dropna().shape

(119, 3)

#### Il y a 120 lignes avec la valeur NaN qu'il faut supprimer.

In [112]:
Tableau10 = RestrSousalimentation2013.dropna()

### Recherche de valeurs incohérentes

In [113]:
Tableau10.dtypes

Zone      object
Année     object
Valeur    object
dtype: object

#### Les données du tableau sont de types "objets".
Il faut chercher les valeurs incohérentes et convertir les données "objets" de la colonne "Valeur" en données numériques.

In [114]:
# Recherche des valeurs incohérentes
# Affichage des 60 dernières valeurs

Tableau10.sort_values(by="Valeur").tail(60)

                                 Zone      Année Valeur
725                       Philippines  2012-2014     14
795       République-Unie de Tanzanie  2012-2014   16.4
760         République centrafricaine  2012-2014      2
680                       Ouzbékistan  2012-2014    2.1
120   Bolivie (État plurinational de)  2012-2014    2.2
895                         Sri Lanka  2012-2014    2.3
370                         Guatemala  2012-2014    2.5
630                             Népal  2012-2014    2.5
5                      Afrique du Sud  2012-2014    2.6
165                          Cambodge  2012-2014    2.8
720                             Pérou  2012-2014    2.8
425                              Inde  2012-2014  216.3
430                         Indonésie  2012-2014   22.6
310                          Éthiopie  2012-2014   25.3
80                         Bangladesh  2012-2014   26.1
555                            Malawi  2012-2014    3.2
150                      Burkina Faso  2012-2014    3.4
810                            Rwanda  2012-2014    3.6
265                            Égypte  2012-2014    3.9
685                          Pakistan  2012-2014   38.1
215                          Colombie  2012-2014    4.1
435    Iran (République islamique d')  2012-2014    4.2
235                     Côte d'Ivoire  2012-2014    4.7
920                             Tchad  2012-2014    4.9
395                             Haïti  2012-2014    5.2
590                           Mexique  2012-2014    5.3
930                         Thaïlande  2012-2014    5.6
1015                         Zimbabwe  2012-2014    6.6
615                           Myanmar  2012-2014    6.6
610                        Mozambique  2012-2014      7
1010                           Zambie  2012-2014      7
1005                            Yémen  2012-2014    7.2
0                         Afghanistan  2012-2014    7.9
30                             Angola  2012-2014    8.1
545                        Madagascar  2012-2014    8.2
885                            Soudan  2012-2014    8.3
440                              Iraq  2012-2014    9.1
735               Polynésie française  2012-2014   <0.1
85                            Barbade  2012-2014   <0.1
990                           Vanuatu  2012-2014   <0.1
100                            Belize  2012-2014   <0.1
140                 Brunéi Darussalam  2012-2014   <0.1
955                 Trinité-et-Tobago  2012-2014   <0.1
160                        Cabo Verde  2012-2014   <0.1
195              Chine - RAS de Macao  2012-2014   <0.1
210                            Chypre  2012-2014   <0.1
260                         Dominique  2012-2014   <0.1
910                          Suriname  2012-2014   <0.1
295                           Estonie  2012-2014   <0.1
660                Nouvelle-Calédonie  2012-2014   <0.1
390                            Guyana  2012-2014   <0.1
420                      Îles Salomon  2012-2014   <0.1
840              Sao Tomé-et-Principe  2012-2014   <0.1
830                             Samoa  2012-2014   <0.1
825   Saint-Vincent-et-les Grenadines  2012-2014   <0.1
495                          Kiribati  2012-2014   <0.1
580                           Maurice  2012-2014   <0.1
540                 Macédoine du Nord  2012-2014   <0.1
560                          Maldives  2012-2014   <0.1
320                             Fidji  2012-2014   <0.1

#### Il y a des valeurs "<0,1"  qui justifient le type de données "objet" 
#### Il faut convertir les données "objet" en données numériques pour pouvoir calculer la somme des populations.

In [115]:
# Conversion des données de la colonne "Valeur" en données numériques 

PopSousalimentée = pd.to_numeric(Tableau10.Valeur, errors='coerce')

PopSousalimentée.dtypes

dtype('float64')

In [116]:
# Vérification que les données de la colonne "Valeur" peuvent être additionnées 

PopSousalimentée.sum()

743.6999999999999

<a id="reponse10"></a>
### Calcul de la proportion de la population mondiale sous-alimentée en 2013

In [117]:
print("En 2013," ,round(((PopSousalimentée.sum()*1000000)/PopulationMondiale)*100,2) ,"% de la poulation mondiale est sous-alimentée.")

En 2013, 10.63 % de la poulation mondiale est sous-alimentée.

<a id="question11"></a>
## Question 11 :  En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en terme de poids) est destinée à l'alimentation animale ? Préalablement, établir la liste de produit (ainsi que de leur code) considérés comme des céréales selon la FAO. Repérer les informations contenant les céréales (par exemple en créant une colonne de type booléen nommées "is_cereal").

In [118]:
cereales

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,799,S,Données standardisées
887,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5511,Production,2516,Avoine,2013,2013,Milliers de tonnes,1,S,Données standardisées
888,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,55,S,Données standardisées
889,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5511,Production,2518,Sorgho,2013,2013,Milliers de tonnes,69,S,Données standardisées
890,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5511,Production,2520,"Céréales, Autres",2013,2013,Milliers de tonnes,2,S,Données standardisées

In [119]:
# Affichage de types de céréales issus du tableau "cereales"

cereales.Produit.unique()

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet', 'Seigle',
       'Avoine', 'Sorgho', 'Céréales, Autres'], dtype=object)

In [120]:
# Création d'une liste à partir des différents éléments de la colonne "Produit" du tableau "cereales"

listeCereales = list(cereales.Produit.unique())

# Création de la colonne "is_cereal" affichant "True"
# si le produit de la ligne figure dans "listeCereales"

vegetaux["is_cereal"]= vegetaux.Produit.isin(listeCereales)

vegetaux

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,is_cereal
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.00,S,Données standardisées,True
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.00,S,Données standardisées,True
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.00,S,Données standardisées,True
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.00,S,Données standardisées,True
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.00,S,Données standardisées,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104866,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée,False
104867,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée,False
104868,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,2.00,Fc,Donnée calculée,False
104869,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.07,Fc,Donnée calculée,False
104870,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.03,Fc,Donnée calculée,False

In [121]:
# Projection

vegetaux2 = vegetaux.loc[ : ,('Zone', 'Élément', 'Code Produit', 'Produit', 'Valeur', 'is_cereal')]

vegetaux2 = vegetaux2[vegetaux2.is_cereal == True]

# Restriction pour Nourriture 

vegetauxNourriture = vegetaux2[vegetaux2.Élément=="Nourriture"]

# Précision : nourriture (en milliers de tonnes) = disponibilité alimentaire*population
# la nourriture pour animaux étant elle aussi exprimée en milliers de tonnes
# le choix de la nourriture pour le calcul est adéquat.

# Restriction pour Nourriture pour animaux

vegetauxAnimaux = vegetaux2[vegetaux2.Élément=="Aliments pour animaux"]

#### Nettoyage des données "vegetauxNourriture"

In [122]:
# Pas de doublons

vegetauxNourriture.duplicated().sum()

0

In [123]:
# Taille du tableau "vegetauxNourriture"

vegetauxNourriture.shape

(1259, 6)

In [124]:
# Taille du tableau "vegetauxNourriture" sans valeurs NaN

vegetauxNourriture.dropna().shape

(1259, 6)

In [125]:
# la taille des données "vegetauxNourriture" reste identique après avoir supprimer les valeurs NaN.
# Il n'y en avait donc pas

vegetauxNourriture.dtypes

# Les données de la colonnes valeurs sont bien des données numériques

Zone             object
Élément          object
Code Produit      int64
Produit          object
Valeur          float64
is_cereal          bool
dtype: object

In [126]:
# Affichage des premières valeurs

vegetauxNourriture.sort_values(by="Valeur").head()

# Il y a une valeur négative ligne 52002

          Zone     Élément  Code Produit           Produit  Valeur  is_cereal
52002    Japon  Nourriture          2516            Avoine  -246.0       True
68813    Népal  Nourriture          2516            Avoine     0.0       True
62999    Malte  Nourriture          2520  Céréales, Autres     0.0       True
63616    Maroc  Nourriture          2518            Sorgho     0.0       True
64270  Maurice  Nourriture          2516            Avoine     0.0       True

In [127]:
# Suppression des valeurs négatives

vegetauxNourriture.drop(vegetauxNourriture[vegetauxNourriture.Valeur<0].index)

vegetauxNourriture = vegetauxNourriture.drop(vegetauxNourriture[vegetauxNourriture.Valeur<0].index)

#### Nettoyage des données "vegetauxAnimaux"

In [128]:
# Pas de doublons

vegetauxAnimaux.duplicated().sum()

0

In [129]:
# Taille du tableau "vegetauxNourriture"

vegetauxAnimaux.shape

(1071, 6)

In [130]:
# Taille du tableau "vegetauxNourriture" sans valeurs NaN

vegetauxAnimaux.dropna().shape

(1071, 6)

In [131]:
# la taille des données "vegetauxNourriture" reste identique après avoir supprimer les valeurs NaN.
# Il n'y en avait donc pas

vegetauxAnimaux.dtypes

# Les données de la colonnes valeurs sont bien des données numériques

Zone             object
Élément          object
Code Produit      int64
Produit          object
Valeur          float64
is_cereal          bool
dtype: object

In [132]:
# Affichage des premières valeurs

vegetauxAnimaux.sort_values(by="Valeur").head()

# Pas de valeurs négatives

,Zone,Élément,Code Produit,Produit,Valeur,is_cereal
53385,Kazakhstan,Aliments pour animaux,2518,Sorgho,0.0,True
57016,Liban,Aliments pour animaux,2805,Riz (Eq Blanchi),0.0,True
56468,Lettonie,Aliments pour animaux,2518,Sorgho,0.0,True
56465,Lettonie,Aliments pour animaux,2517,Millet,0.0,True
56404,Lettonie,Aliments pour animaux,2805,Riz (Eq Blanchi),0.0,True

In [133]:
# Proportion des céréales destinées à l"alimentation animale

PropNourritureAnimaux = (vegetauxAnimaux.Valeur.sum()/(vegetauxAnimaux.Valeur.sum()+vegetauxNourriture.Valeur.sum()))*100

print("En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale),", 
      round(PropNourritureAnimaux,2),
      "% de leur poids total est destiné à l'alimentation animale.")

En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), 45.91 % de leur poids total est destiné à l'alimentation animale.

<a id="question12"></a>
## Question 12 : 
- Sélectionner parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recence des personnes en sous-nutrition.
- Repérer les 15 produits les plus exportés par ce groupe de pays.
- Sélectionner parmi les données des bilans alimentaires au niveau mondial, les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné), grouper ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits.
- Ensuite, calculer pour chaque produit les 2 quantités suivantes:
    - le ratio entre la quantité destinée aux "Autres utilisations" (Others uses) et la disponibilité intérieure
    - le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale+humaine)
## Donner les trois produits ayant la plus grande valeur pour chacun des deux ratios (donc 6 produits à citer).

### Sélection parmi les données des bilans alimentaires des informations relatives aux pays dans lesquels la FAO recence des personnes en sous-nutrition
Les données des bilans alimentaires figurent dans les 4 tableaux "animaux", "vegetaux", "cereales" et "Pop".
### Démarche :
- Union des tableaux "animaux", "vegetaux", "cereales" 
- Jointure naturelle du tableau résultant avec le tableau "Pop" par la colonne zone ("popCerealesAnimauxVegetaux")
- Projection du tableau "sousalimentation" pour ne conserver que la colonne "Zone" (utilisation de "Tableau10")
- Jointure naturelle du tableau résultant avec le tableau "popCerealesAnimauxVegetaux" par la colonne zone ("popSousalimCerealesAnimauxVegetaux")
- Projection pour ne sélectionner que les colonnes suivantes : 'Zone', 'Élément', 'Produit', 'Unité', 'Valeur'
- Suppression des doublons du tableau résultant

In [134]:
#Union des tableaux "animaux", "vegetaux", "cereales"

animauxVegetaux = pd.concat([vegetaux,animaux])
cerealesAnimauxVegetaux = pd.concat([animauxVegetaux, cereales])

#Jointure naturelle du tableau résultant avec le tableau "Pop" par la colonne zone

popCerealesAnimauxVegetaux = pd.merge(Pop, cerealesAnimauxVegetaux)

#Projection du tableau "Tableau10" pour ne conserver que la colonne "Zone"
# Rappel : Tableau10 affiche les populations sous-alimentées par pays en 2013

Proj_sousalimentation = Tableau10.loc[ : , ('Zone')]

#Jointure naturelle du tableau résultant avec le tableau "popCerealesAnimauxVegetaux" par la colonne zone

popSousalimCerealesAnimauxVegetaux = pd.merge(Proj_sousalimentation, popCerealesAnimauxVegetaux)

# Projection de"popSousalimCerealesAnimauxVegetaux"

proj_popSousalimCerealesAnimauxVegetaux = popSousalimCerealesAnimauxVegetaux.loc[ : , ('Zone', 'Élément', 'Produit', 'Unité', 'Valeur')]

### Vérification des données du dataframe

In [135]:
# Affichage des doublons à supprimer

proj_popSousalimCerealesAnimauxVegetaux.loc[proj_popSousalimCerealesAnimauxVegetaux.duplicated(), :]

# 561 doublons

              Zone     Élément           Produit               Unité  Valeur
468    Afghanistan  Production               Blé  Milliers de tonnes  5169.0
469    Afghanistan  Production  Riz (Eq Blanchi)  Milliers de tonnes   342.0
470    Afghanistan  Production              Orge  Milliers de tonnes   514.0
471    Afghanistan  Production              Maïs  Milliers de tonnes   312.0
472    Afghanistan  Production            Millet  Milliers de tonnes    13.0
...            ...         ...               ...                 ...     ...
94169     Zimbabwe  Production              Maïs  Milliers de tonnes   799.0
94170     Zimbabwe  Production            Avoine  Milliers de tonnes     1.0
94171     Zimbabwe  Production            Millet  Milliers de tonnes    55.0
94172     Zimbabwe  Production            Sorgho  Milliers de tonnes    69.0
94173     Zimbabwe  Production  Céréales, Autres  Milliers de tonnes     2.0

[561 rows x 5 columns]

In [136]:
# Suppression des doublons

proj_popSousalimCerealesAnimauxVegetaux.drop_duplicates()

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Blé,Milliers de tonnes,5169.0
1,Afghanistan,Importations - Quantité,Blé,Milliers de tonnes,1173.0
2,Afghanistan,Variation de stock,Blé,Milliers de tonnes,-350.0
3,Afghanistan,Disponibilité intérieure,Blé,Milliers de tonnes,5992.0
4,Afghanistan,Semences,Blé,Milliers de tonnes,322.0
...,...,...,...,...,...
94161,Zimbabwe,Nourriture,Plantes Aquatiques,Milliers de tonnes,0.0
94162,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Plantes Aquatiques,kg,0.0
94163,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Plantes Aquatiques,Kcal/personne/jour,0.0
94164,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Plantes Aquatiques,g/personne/jour,0.0
94165,Zimbabwe,Disponibilité de matière grasse en quantité (g...,Plantes Aquatiques,g/personne/jour,0.0

In [137]:
infosPaysEnSousNutrition = proj_popSousalimCerealesAnimauxVegetaux.drop_duplicates()

<a id="réponse12_1"></a>
### Informations, parmi les données des bilans alimentaires, relatives aux pays dans lesquels la FAO recence des personnes en sous-nutrition

In [138]:
infosPaysEnSousNutrition

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Blé,Milliers de tonnes,5169.0
1,Afghanistan,Importations - Quantité,Blé,Milliers de tonnes,1173.0
2,Afghanistan,Variation de stock,Blé,Milliers de tonnes,-350.0
3,Afghanistan,Disponibilité intérieure,Blé,Milliers de tonnes,5992.0
4,Afghanistan,Semences,Blé,Milliers de tonnes,322.0
...,...,...,...,...,...
94161,Zimbabwe,Nourriture,Plantes Aquatiques,Milliers de tonnes,0.0
94162,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Plantes Aquatiques,kg,0.0
94163,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Plantes Aquatiques,Kcal/personne/jour,0.0
94164,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Plantes Aquatiques,g/personne/jour,0.0
94165,Zimbabwe,Disponibilité de matière grasse en quantité (g...,Plantes Aquatiques,g/personne/jour,0.0

### Repérage des 15 produits les plus exportés par ce groupe de pays

In [139]:
# Restriction "infosPaysEnSousNutrition" n'affichant que les "Exportations - Quantité"

Exp = infosPaysEnSousNutrition[infosPaysEnSousNutrition.Élément == "Exportations - Quantité"]

# Classement des exportations par valeurs croissantes

Exp = Exp.sort_values(by='Valeur')

# Suppression des redondances de la colonnes "Produit" du tableau "Exp"
# Précision :  on cherche les 15 produits les plus exportés 
# et non pas les 15 pays les plus exportateurs d'un même produit.
# En suprimant les redondances de la colonnes "Produit",
# on peut ensuite afficher les 15 exportations les plus élevées
# et avoir 15 produits différents tels que demandé

ProduitExp = Exp.drop_duplicates(subset="Produit",keep='last')

# L'argument "last" permet de ne conserver que le dernier des doublons
# soit celui avec la valeur la plus élevée  

# Affichage des 15 produits les plus exportés 
# en inversant l'ordre des lignes pour obtenir un classement par ordre décroissant

Top15Exportations = ProduitExp.loc[::-1].head(15)

<a id="réponse12_2"></a>
### Les 15 produits les plus exportés par les pays recensant des personnes en sous-nutrition

In [140]:
Top15Exportations

,Zone,Élément,Produit,Unité,Valeur
85104,Thaïlande,Exportations - Quantité,Manioc,Milliers de tonnes,25214.0
41870,Indonésie,Exportations - Quantité,Huile de Palme,Milliers de tonnes,23333.0
4748,Argentine,Exportations - Quantité,Maïs,Milliers de tonnes,20241.0
40548,Inde,Exportations - Quantité,Riz (Eq Blanchi),Milliers de tonnes,11337.0
18279,"Chine, continentale",Exportations - Quantité,"Légumes, Autres",Milliers de tonnes,8084.0
4936,Argentine,Exportations - Quantité,Soja,Milliers de tonnes,7783.0
40534,Inde,Exportations - Quantité,Blé,Milliers de tonnes,7168.0
85165,Thaïlande,Exportations - Quantité,Sucre Eq Brut,Milliers de tonnes,6462.0
28528,Équateur,Exportations - Quantité,Bananes,Milliers de tonnes,5956.0
71153,Pérou,Exportations - Quantité,Poissons Pelagiques,Milliers de tonnes,5725.0
5035,Argentine,Exportations - Quantité,Huile de Soja,Milliers de tonnes,4378.0
4734,Argentine,Exportations - Quantité,Orge,Milliers de tonnes,4112.0
18258,"Chine, continentale",Exportations - Quantité,Tomates,Milliers de tonnes,3977.0
18340,"Chine, continentale",Exportations - Quantité,Pommes,Milliers de tonnes,3854.0
5499,Argentine,Exportations - Quantité,Lait - Excl Beurre,Milliers de tonnes,2782.0

### Sélection parmi les données des bilans alimentaires au niveau mondial, des 200 plus grandes importations de ces 15 produits

In [141]:
# Restriction de "popCerealesAnimauxVegetaux" n'affichant que les Éléments "Importations - Quantité"

ImpMondiale = popCerealesAnimauxVegetaux[popCerealesAnimauxVegetaux.Élément == "Importations - Quantité"]

# Projection

ImpMondiale = ImpMondiale.loc[ : ,('Zone','Élément','Produit', 'Valeur')]

In [142]:
# Projection de "Top15Exportations" n'affichant que la colonne "Produit"

ProduitsTop15Exportations = Top15Exportations.loc[ : , ('Produit')]

# Jointure naturelle par colonne "Produit" de "Imp" et de "ProduitsTop15Exportations

ImpTop15Exp = pd.merge(ImpMondiale,ProduitsTop15Exportations)

# Classement des importations par valeurs croissantes

ClassementImpTop15Exp = ImpTop15Exp.sort_values(by='Valeur')

In [143]:
# Recherche des redondances du tableau "ClassementImpTop15Exp"
# Précision : on cherche les 200 plus grandes importations des 15 produits les plus exportés.
# Un même pays peut donc figurer plusieurs fois dans cette sélection.
# Il n'y a donc pas à renseigner une colonne pour la redondance comme ce fut le cas pour le top 15 des exportations. 


ClassementImpTop15Exp.duplicated().sum()

# Pas de doublons

0

In [144]:
# Classement des importations par valeurs décroissantes et sélection des 200 importations les plus élevées

Top200Imp = ClassementImpTop15Exp.loc[::-1].head(200)

<a id="réponse12_3"></a>
### Classement des 200 plus grandes importations de ces 15 produits

In [145]:
Top200Imp

,Zone,Élément,Produit,Valeur
2237,"Chine, continentale",Importations - Quantité,Soja,63381.0
2083,"Chine, continentale",Importations - Quantité,Manioc,29046.0
604,Japon,Importations - Quantité,Maïs,14403.0
355,Arabie saoudite,Importations - Quantité,Orge,10547.0
47,Égypte,Importations - Quantité,Blé,10331.0
...,...,...,...,...
11,Autriche,Importations - Quantité,Blé,1031.0
32,Chili,Importations - Quantité,Blé,1022.0
1115,Iran (République islamique d'),Importations - Quantité,Huile de Palme,1021.0
2007,République de Corée,Importations - Quantité,Lait - Excl Beurre,1014.0
1153,Nigéria,Importations - Quantité,Huile de Palme,999.0

### Groupement des 200 importations par produit

In [146]:
Gr_Top200Imp = Top200Imp.groupby(['Produit']).sum()

ProduitsTop200Imp = Gr_Top200Imp.rename(columns = {"Valeur":"Poids total des 200 importations en milliers de tonnes"})

<a id="réponse12_4"></a>
### Somme des 200 importations les plus importantes des 15 produits les plus exportés

In [147]:
ProduitsTop200Imp

                     Poids total des 200 importations en milliers de tonnes
Produit
Bananes                                                         9663.0
Blé                                                           149629.0
Huile de Palme                                                 31767.0
Huile de Soja                                                   2266.0
Lait - Excl Beurre                                             90464.0
Légumes, Autres                                                28177.0
Manioc                                                         34655.0
Maïs                                                          102451.0
Orge                                                           22387.0
Poissons Pelagiques                                            13445.0
Pommes                                                          8518.0
Riz (Eq Blanchi)                                               13990.0
Soja                                                           93455.0
Sucre Eq Brut                                                  34208.0
Tomates                                                         7143.0

### Calcul pour chaque produit des ratios : 
- entre quantité destinés aux "Autres utilisations" et la disponibilité intérieure
- entre quantité destinés à la nourriture animale et celle de la nourriture totale (animale + humaine)

### Démarche :
1. Restriction du tableau "popCerealesAnimauxVegetaux" pour obtenir les 'Autres utilisations" des 15 produits
2. Nettoyage des données
3. Groupement des valeurs par produits
4. Renommage de la colone "Valeur" par "A"
5. Reprendre les points 1, 2 et 3 mais avec la restriction 'Disponibilité intérieure' puis renommer la colonne "Valeur" par "B"
6. Reprendre les points 1, 2 et 3 mais avec la restriction "Aliments pour animaux" puis renommer la colonne "Valeur" par "C"
7. Reprendre les points 1, 2 et 3 mais avec la restriction "Nourriture" puis renommer la colonne "Valeur" par "D"
8. Jointure naturelle des 4 tableaux résultants pour avoir les colonnes "A", "B", "C" et "D" dans le même tableau
9. Création d'une colonne "Ratio 'Autres utilisations'/Disponibilité intérieure" issue du calcul "A"/"B"
10. Création d'une colonne "Ratio Aliments pour animaux/Nourriture totale (animale + humaine)" issue du calcul "C"/("C"+"D")
11. Suppression des colonnes "A", "B", "C" et "D"

In [148]:
# Restriction de "popCerealesAnimauxVegetaux" n'affichant que les "Autres utilisations (non alimentaire)"

AutresUtilisationsMondiale = popCerealesAnimauxVegetaux[popCerealesAnimauxVegetaux.Élément == "Autres utilisations (non alimentaire)"]

# Restriction n'affichant que la disponibilité intérieure des 15 produits les plus exportés
# par les pays recensant des populations sous-alimentées

AutresUtilisationsMondiale15Produits = pd.merge(ProduitsTop15Exportations, AutresUtilisationsMondiale)

# Vérification des doublons

AutresUtilisationsMondiale15Produits.duplicated().sum()

# Pas de doublons

0

In [149]:
# Recherche valeurs incohérentes

#AutresUtilisationsMondiale15Produits.sort_values(by="Valeur").head(60)

# L'affichage des 60 premières valeurs n'affiche pas de valeurs négatives

# L'affichage des 60 dernières valeurs n'affiche pas non plus de valeurs non numériques

#AutresUtilisationsMondiale.sort_values(by="Valeur").tail(60)

# Pas de valeurs incohérentes

In [150]:
# Projection n'affichant que "Produit", "Zone", "Valeur"

AutresUtilisationsMondiale15Produits = AutresUtilisationsMondiale15Produits.loc[ : , ('Produit', 'Zone', 'Valeur')]

# Groupement des valeurs par produits

AutresUtilisationsMondiale15Produits = AutresUtilisationsMondiale15Produits.groupby(['Produit']).sum()

# Renommage de la colonne "Valeur" pour opération

AutresUtilisationsMondiale15Produits = AutresUtilisationsMondiale15Produits.rename(columns={'Valeur':'A'})

AutresUtilisationsMondiale15Produits

                            A
Produit
Bananes                 142.0
Blé                   22424.0
Huile de Palme        35191.0
Huile de Soja         17463.0
Lait - Excl Beurre    18768.0
Légumes, Autres         490.0
Manioc                35987.0
Maïs                 189386.0
Orge                    654.0
Poissons Pelagiques     376.0
Pommes                   42.0
Riz (Eq Blanchi)      18464.0
Soja                    638.0
Sucre Eq Brut         13130.0
Tomates                  77.0

In [151]:
# Restriction de "popCerealesAnimauxVegetaux" n'affichant que la disponibilité intérieure

DispIntMondiale = popCerealesAnimauxVegetaux[popCerealesAnimauxVegetaux.Élément == "Disponibilité intérieure"]

# Restriction n'affichant que la disponibilité intérieure des 15 produits les plus exportés
# par les pays recensant des populations sous-alimentées

DispIntMondiale15Produits = pd.merge(ProduitsTop15Exportations, DispIntMondiale)

# Vérification des doublons

DispIntMondiale15Produits.duplicated().sum()

# Pas de doublons

0

In [152]:
# Recherche valeurs incohérentes

DispIntMondiale15Produits.sort_values(by="Valeur").head(60)

# L'affichage des 60 premières valeurs affiche des valeurs négatives

,Produit,Zone,Population en milliers d'habitants,Code Domaine,Domaine,Code zone,Code Élément,Élément,Code Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,is_cereal
2364,Pommes,République de Moldova,3487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,146,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,-11.0,S,Données standardisées,False
70,Manioc,Hongrie,9955,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,97,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,-1.0,S,Données standardisées,False
46,Manioc,Égypte,82056,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,59,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,-1.0,S,Données standardisées,False
1772,Huile de Soja,Finlande,5426,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,67,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
255,Huile de Palme,Kiribati,102,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,83,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1760,Huile de Soja,Dominique,72,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,55,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2292,Pommes,Gambie,1849,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,75,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1775,Huile de Soja,Gambie,1849,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,75,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
246,Huile de Palme,Islande,330,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,99,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2302,Pommes,Honduras,8096,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,95,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2304,Pommes,Îles Salomon,561,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,25,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
972,Soja,Nouvelle-Calédonie,256,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,153,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1741,Huile de Soja,Burkina Faso,16935,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,233,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
232,Huile de Palme,Grenade,106,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,86,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1739,Huile de Soja,Brunéi Darussalam,418,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,26,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2299,Pommes,Guinée-Bissau,1704,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,175,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1776,Huile de Soja,Géorgie,4341,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,73,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1779,Huile de Soja,Grenade,106,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,86,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
977,Soja,Pakistan,182143,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,165,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
295,Huile de Palme,Polynésie française,277,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,70,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1813,Huile de Soja,Maldives,345,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,132,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1809,Huile de Soja,Macédoine du Nord,2107,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,154,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1808,Huile de Soja,Luxembourg,530,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,256,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1806,Huile de Soja,Libéria,4294,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,123,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1802,Huile de Soja,Kiribati,102,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,83,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1737,Huile de Soja,Botswana,2021,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,20,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1801,Huile de Soja,Kirghizistan,5548,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,113,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1463,Bananes,Lesotho,2074,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,122,5301,Disponibilité intérieure,2615,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
277,Huile de Palme,Namibie,2303,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,147,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2276,Pommes,Djibouti,873,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,72,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2277,Pommes,Dominique,72,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,55,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
274,Huile de Palme,Monténégro,621,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,273,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1787,Huile de Soja,Îles Salomon,561,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,25,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
283,Huile de Palme,Nouvelle-Calédonie,256,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,153,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1734,Huile de Soja,Bermudes,65,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,17,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
969,Soja,Niger,17831,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,158,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1732,Huile de Soja,Belize,332,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,23,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
144,Manioc,Slovaquie,5450,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,199,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
145,Manioc,Slovénie,2072,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,198,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1647,Poissons Pelagiques,Mongolie,2839,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,141,5301,Disponibilité intérieure,2763,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,NaN
2376,Pommes,Sao Tomé-et-Principe,193,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,193,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
957,Soja,Malte,429,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,134,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2373,Pommes,Saint-Kitts-et-Nevis,54,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,188,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
157,Manioc,Tunisie,10997,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,222,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
161,Manioc,Vanuatu,253,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,155,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2372,Pommes,Sainte-Lucie,182,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,189,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
164,Manioc,Yémen,24407,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
959,Soja,Maurice,1244,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,137,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2362,Pommes,République centrafricaine,4616,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,37,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
173,Huile de Palme,Antigua-et-Barbuda,90,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,8,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
960,Soja,Mauritanie,3890,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,136,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
180,Huile de Palme,Bahamas,377,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,12,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
962,Soja,Mongolie,2839,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,141,5301,Disponibilité intérieure,2555,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
182,Huile de Palme,Barbade,285,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,14,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
220,Huile de Palme,Eswatini,1250,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,209,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2324,Pommes,Libéria,4294,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,123,5301,Disponibilité intérieure,2617,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1727,Huile de Soja,Bahamas,377,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,12,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
213,Huile de Palme,Dominique,72,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,55,5301,Disponibilité intérieure,2577,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1720,Huile de Soja,Antigua-et-Barbuda,90,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,8,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
1716,Huile de Soja,Albanie,3173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,5301,Disponibilité intérieure,2571,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False

In [153]:
# Suppression des valeurs négatives

DispIntMondiale15Produits.drop(DispIntMondiale15Produits[DispIntMondiale15Produits.Valeur<0].index)

,Produit,Zone,Population en milliers d'habitants,Code Domaine,Domaine,Code zone,Code Élément,Élément,Code Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,is_cereal
0,Manioc,Afrique du Sud,52776,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,57.0,S,Données standardisées,False
1,Manioc,Albanie,3173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
2,Manioc,Algérie,39208,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,False
3,Manioc,Allemagne,82727,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,27.0,S,Données standardisées,False
4,Manioc,Angola,21472,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,7,5301,Disponibilité intérieure,2532,2013,2013,Milliers de tonnes,16412.0,S,Données standardisées,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2574,Lait - Excl Beurre,Venezuela (République bolivarienne du),30405,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,5301,Disponibilité intérieure,2848,2013,2013,Milliers de tonnes,3643.0,S,Données standardisées,NaN
2575,Lait - Excl Beurre,Viet Nam,91680,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,5301,Disponibilité intérieure,2848,2013,2013,Milliers de tonnes,1515.0,S,Données standardisées,NaN
2576,Lait - Excl Beurre,Yémen,24407,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,5301,Disponibilité intérieure,2848,2013,2013,Milliers de tonnes,1075.0,S,Données standardisées,NaN
2577,Lait - Excl Beurre,Zambie,14539,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,5301,Disponibilité intérieure,2848,2013,2013,Milliers de tonnes,150.0,S,Données standardisées,NaN
2578,Lait - Excl Beurre,Zimbabwe,14150,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,5301,Disponibilité intérieure,2848,2013,2013,Milliers de tonnes,506.0,S,Données standardisées,NaN

In [154]:
#L'affichage des 60 dernières valeurs n'affiche pas de valeurs non numériques
#DispIntMondiale15Produits.sort_values(by="Valeur").tail(60)

# Disponibilité intérieure mondiale nettoyée:

DispIntMondiale15Produits = DispIntMondiale15Produits.drop(DispIntMondiale15Produits[DispIntMondiale15Produits.Valeur<0].index)

In [155]:
# Projection n'affichant que "Produit", "Zone", "Valeur"

DispIntMondiale15Produits = DispIntMondiale15Produits.loc[ : , ('Produit', 'Zone', 'Valeur')]

# Groupement des valeurs par produits

DispIntMondiale15Produits = DispIntMondiale15Produits.groupby(['Produit']).sum()

# Renommage de la colonne "Valeur" pour opération

DispIntMondiale15Produits = DispIntMondiale15Produits.rename(columns={'Valeur':'B'})

DispIntMondiale15Produits

                            B
Produit
Bananes              103992.0
Blé                  679498.0
Huile de Palme        50409.0
Huile de Soja         41961.0
Lait - Excl Beurre   748864.0
Légumes, Autres      881716.0
Manioc               256666.0
Maïs                 955799.0
Orge                 140439.0
Poissons Pelagiques   41024.0
Pommes                83696.0
Riz (Eq Blanchi)     475656.0
Soja                 267445.0
Sucre Eq Brut        168864.0
Tomates              159452.0

In [156]:
# Restriction de "popCerealesAnimauxVegetaux" n'affichant que les "Aliments pour animaux"

AlimentsAnimauxMondiale = popCerealesAnimauxVegetaux[popCerealesAnimauxVegetaux.Élément == "Aliments pour animaux"]

# Restriction n'affichant que la disponibilité intérieure des 15 produits les plus exportés
# par les pays recensant des populations sous-alimentées

AlimentsAnimauxMondiale15Produits = pd.merge(ProduitsTop15Exportations, AlimentsAnimauxMondiale)

# Vérification des doublons

AlimentsAnimauxMondiale15Produits.duplicated().sum()

# Pas de doublons

0

In [157]:
# Recherche valeurs incohérentes

#AlimentsAnimauxMondiale15Produits.sort_values(by="Valeur").head(60)

# L'affichage des 60 premières valeurs n'affiche pas de valeurs négatives

# L'affichage des 60 dernières valeurs n'affiche pas non plus de valeurs non numériques

#AutresUtilisationsMondiale.sort_values(by="Valeur").tail(60)

# Pas de valeurs incohérentes

In [158]:
# Projection n'affichant que 'Produit', 'Zone', 'Valeur'

AlimentsAnimauxMondiale15Produits = AlimentsAnimauxMondiale15Produits.loc[ : , ('Produit', 'Zone', 'Valeur')]

# Groupement des valeurs par produits

AlimentsAnimauxMondiale15Produits = AlimentsAnimauxMondiale15Produits.groupby(['Produit']).sum()

# Renommage de la colonne 'Valeur' pour opération

AlimentsAnimauxMondiale15Produits = AlimentsAnimauxMondiale15Produits.rename(columns={'Valeur':'C'})

AlimentsAnimauxMondiale15Produits

                            C
Produit
Bananes                 871.0
Blé                  129668.0
Huile de Palme            0.0
Huile de Soja            11.0
Lait - Excl Beurre    81973.0
Légumes, Autres       49366.0
Manioc                87056.0
Maïs                 546116.0
Orge                  92658.0
Poissons Pelagiques   18817.0
Pommes                  663.0
Riz (Eq Blanchi)      33594.0
Soja                  17476.0
Sucre Eq Brut            90.0
Tomates                1870.0

In [159]:
# Restriction de "popCerealesAnimauxVegetaux" n'affichant que les éléments "Nourriture"

NourritureMondiale = popCerealesAnimauxVegetaux[popCerealesAnimauxVegetaux.Élément == "Nourriture"]

# Restriction n'affichant que la disponibilité intérieure des 15 produits les plus exportés
# par les pays recensant des populations sous-alimentées

NourritureMondiale15Produits = pd.merge(ProduitsTop15Exportations, NourritureMondiale)

# Vérification des doublons

NourritureMondiale15Produits.duplicated().sum()

# Pas de doublons

0

In [160]:
# Recherche valeurs incohérentes

#NourritureMondiale15Produits.sort_values(by="Valeur").head(60)

# L'affichage des 60 premières valeurs n'affiche pas de valeurs négatives

# L'affichage des 60 dernières valeurs n'affiche pas non plus de valeurs non numériques

#NourritureMondiale15Produits.sort_values(by="Valeur").tail(60)

# Pas de valeurs incohérentes

In [161]:
# Projection n'affichant que "Produit", "Zone", "Valeur"

NourritureMondiale15Produits = NourritureMondiale15Produits.loc[ : , ('Produit', 'Zone', 'Valeur')]

# Groupement des valeurs par produits

NourritureMondiale15Produits = NourritureMondiale15Produits.groupby(['Produit']).sum()

# Renommage de la colonne "Valeur" pour opération

NourritureMondiale15Produits = NourritureMondiale15Produits.rename(columns={'Valeur':'D'})

NourritureMondiale15Produits

                            D
Produit
Bananes               85954.0
Blé                  457824.0
Huile de Palme        15214.0
Huile de Soja         24340.0
Lait - Excl Beurre   629738.0
Légumes, Autres      762130.0
Manioc               100637.0
Maïs                 125184.0
Orge                   6794.0
Poissons Pelagiques   21687.0
Pommes                70671.0
Riz (Eq Blanchi)     377286.0
Soja                  10648.0
Sucre Eq Brut        143648.0
Tomates              144080.0

In [162]:
# Jointure de "AutresUtilisationsMondiale15Produits" et"DispIntMondiale15Produits"

Jointure1 = pd.merge(AutresUtilisationsMondiale15Produits, DispIntMondiale15Produits, on='Produit')

Jointure2 = pd.merge(AlimentsAnimauxMondiale15Produits, NourritureMondiale15Produits, on='Produit')

Tableau12 = pd.merge(Jointure1,Jointure2, on='Produit')

Tableau12['Ratio  "Autres utilisations" / Disponibilité intérieure'] = Tableau12.A/Tableau12.B

Tableau12['Ratio  Aliments pour animaux / Nourriture totale (animale + humaine)'] = Tableau12.C/(Tableau12.C+Tableau12.D)

Tableau12 = Tableau12.drop(columns=['A','B','C','D'])

<a id="réponse12_5"></a>
### Tableau pour chaque produit des ratios : 
- entre quantité destinés aux "Autres utilisations" et la disponibilité intérieure
- entre quantité destinés à la nourriture animale et celle de la nourriture totale (animale + humaine)

In [163]:
Tableau12

,"Ratio ""Autres utilisations"" / Disponibilité intérieure",Ratio Aliments pour animaux / Nourriture totale (animale + humaine)
Produit,,
Bananes,0.001365,0.010032
Blé,0.033001,0.220714
Huile de Palme,0.698109,0.000000
Huile de Soja,0.416172,0.000452
Lait - Excl Beurre,0.025062,0.115177
"Légumes, Autres",0.000556,0.060833
Manioc,0.140209,0.463821
Maïs,0.198144,0.813520
Orge,0.004657,0.931686
Poissons Pelagiques,0.009165,0.464571
Pommes,0.000502,0.009294
Riz (Eq Blanchi),0.038818,0.081761
Soja,0.002386,0.621391
Sucre Eq Brut,0.077755,0.000626
Tomates,0.000483,0.012813

In [164]:
# Affichage des trois produits avec le ratio "Autres utilisations" / Disponibilité intérieure le plus élevé 

Tableau12.sort_values(by='Ratio  "Autres utilisations" / Disponibilité intérieure').tail(3)

,"Ratio ""Autres utilisations"" / Disponibilité intérieure",Ratio Aliments pour animaux / Nourriture totale (animale + humaine)
Produit,,
Maïs,0.198144,0.813520
Huile de Soja,0.416172,0.000452
Huile de Palme,0.698109,0.000000

In [165]:
# Affichage des trois produits avec le ratio Aliments pour animaux / Nourriture totale (animale + humaine)
# le plus élevé 

Tableau12.sort_values(by='Ratio  Aliments pour animaux / Nourriture totale (animale + humaine)').tail(3)

,"Ratio ""Autres utilisations"" / Disponibilité intérieure",Ratio Aliments pour animaux / Nourriture totale (animale + humaine)
Produit,,
Soja,0.002386,0.621391
Maïs,0.198144,0.813520
Orge,0.004657,0.931686

<a id="réponse12_6"></a>
### Les  3 produit ayant le ratio "Autres utilisations" / Disponibilité intérieure sont : 
1. l'huile de palme
2. l'huile de soja
3. le maïs

### Les  3 produit ayant le ratio Aliments pour animaux / Nourriture totale (animale + humaine) sont : 
1. l'orge
2. le maïs
3. le soja

<a id="question13"></a>
## Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

### Démarche:
1. Restriction du tableau "vegetaux" pour n'afficher que les aliments pour animaux des USA
2. Projection du tableau "cereales" pour n'afficher que les colonnes "Zone" et "Produit"
3. Jointure des deux tableaux résultants par les colonnes "Zone" et "Produit"
4. Calcul de 10% de la somme des valeurs de la colonne "Valeur"

In [166]:
# Restriction de "vegetaux"

vegetauxAlimAnimaux = vegetaux[vegetaux.Élément=="Aliments pour animaux"]

vegetauxAlimAnimauxUSA = vegetauxAlimAnimaux[vegetauxAlimAnimaux.Zone== "États-Unis d'Amérique"]

# Projection de "cereales"

cerealesZoneProduit = cereales.loc[ : ,('Zone', 'Produit')]

# Jointure par colonnes "Zone" et "Produit"

AlimAnimauxUSACereales = pd.merge(vegetauxAlimAnimauxUSA,cerealesZoneProduit, on=['Zone', 'Produit'])

# Calcul de 10% de la somme des valeurs de la colonne "Valeur" de "AlimAnimauxUSACereales"

TonnesCerealesLiberees = AlimAnimauxUSACereales.Valeur.sum()*0.1

print("Si les USA diminuaient leur production de produits animaux de 10%,", TonnesCerealesLiberees, "milliers de tonnes seraient libérées.")

Si les USA diminuaient leur production de produits animaux de 10%, 14009.6 milliers de tonnes seraient libérées.

<a id="question14"></a>
## Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition ?

In [167]:
# Affichage des données relatives au manioc de la Thaïlande du tableau "vegetaux"

vegetauxThaïlande = vegetaux[vegetaux.Zone=="Thaïlande"]

ManiocThaïlande = vegetauxThaïlande[vegetauxThaïlande.Produit=="Manioc"]

# Restriction n'affichant que la ligne "Production"

ProdManiocThaïlande = ManiocThaïlande[ManiocThaïlande.Élément == "Production"]

# Restriction n'affichant que la ligne "Exportations - Quantité"

ExpManiocThaïlande = ManiocThaïlande[ManiocThaïlande.Élément == "Exportations - Quantité"]

# Calcul de la proportion de manioc

PropExpManiocThaïlande = (ExpManiocThaïlande.Valeur.sum()/ProdManiocThaïlande.Valeur.sum())*100

print("En Thaïlande, ",round(PropExpManiocThaïlande,2), "% de la production de manioc est exportée.")

En Thaïlande,  83.41 % de la production de manioc est exportée.

In [168]:
# Restriction affichant le nombre de personnes sous-alimentées en Thaïlande en 2013

sousalimentationThaïlande = sousalimentation[sousalimentation.Zone == "Thaïlande"]

sousalimentationThaïlande2013 = sousalimentationThaïlande[sousalimentationThaïlande.Année == "2012-2014"]

# Conversion des données de la colonne "Valeur" en données numériques 

sousalimentationThaïlande2013 = pd.to_numeric(sousalimentationThaïlande2013.Valeur, errors='coerce')

sousalimentationThaïlande2013

930    5.6
Name: Valeur, dtype: float64

In [169]:
# Restriction affichant la population totale de la Thaïlande en 2013

PopTotaleThaïlande = Pop[Pop.Zone == "Thaïlande"]

PopTotaleThaïlande = PopTotaleThaïlande["Population en milliers d'habitants"].sum()

# Calcul de la proportion de personnes en sous-nutrition
# La population sous-alimentée est donnée en millions d'habitants
# La population totale est donnée en milliers d'habitants

PropPersSousAlimThaïlande2013 = ((sousalimentationThaïlande2013.sum()*1000)/PopTotaleThaïlande)*100

print("En 2013, la proportion de personnes sous-alimentée en Thaïlande est de", round(PropPersSousAlimThaïlande2013,2),"%.")

En 2013, la proportion de personnes sous-alimentée en Thaïlande est de 8.36 %.